@charset "utf-8";
@import url('part.css');

/* это тот же async только для .css
<link media="none" onload="if(media!="all") media="all"" rel="stylesheet" type="text/css", href= main.css>
*/


/* ======================================================== SCROLL UX */

html {
  scroll-behavior: smooth;
}


/* scroll snap for sections */
body {
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
}

/* each slide snaps into place */
.aSnapSlider {
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}


/* SCROLL SNAP */

#carousel {
    scroll-snap-type: x mandatory;
    scroll-padding-top: 40px;
}
#carousel > div {
    scroll-snap-align: center;
}
#carousel > div.unskippable {
  scroll-snap-stop: always;
}

/* ======================================================== SCROLLBAR */

/* define style 2020 */

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: orange;
}
*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}


/* hide scrollbar 2019 */

.hidden-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

/* custom scrollbar */

.aCustomScrollbar::-webkit-scrollbar {
    width: 4px;
}
.aCustomScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
}
.aCustomScrollbar::-webkit-scrollbar-thumb {
  background-color: #ca0713;
  outline: 1px solid #ca0713;
}


/* ======================================================== LAYOUT */

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* full-height 2019
   https://css-tricks.com/some-things-you-oughta-know-when-working-with-viewport-units/ */

body {
  min-height: 100vh; /* or min-height: calc(100vh - 80px); - depending on your preferences */
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: available; /* not sure if exist in any browser */
  min-height: -webkit-stretch; /* not sure if exist in any browser */
  min-height: -moz-stretch; /* not sure if exist in any browser */
  min-height: stretch;
}

/* ======================================================== BASICS */


html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}


a {
  text-decoration-color: #EA215A;
  text-decoration-thickness: .125em;
  text-underline-offset: 1.5px;
}

/* focus border */
a:focus {
  outline: 1px solid;
  outline-offset: .15em;
}

/* hover + focus */
div:hover .extra-stuff {
  transform: translateY(0);
}
div:focus-within .extra-stuff {
  transform: translateY(0);
}




/* ======================================================== @MEDIA */

@media screen and (prefers-reduced-motion: reduce) {
    .pitch-hab * {
        transition: none !important;
    }
}


@media screen and (prefers-reduced-motion: reduce) {}        /* do less animations */
@media screen and (prefers-reduced-motion: no-preference) {} /* do animations */

@media only screen and (min-device-width: 400px) {} /* Для устройств 400px и больше: */
@media (min-width: 600px) and (max-width: 800px) {} /* AND statement */
@media (max-width: 600px), (min-width: 800px) {} /* OR statement */
@media (min-width: 768px) and (min-device-pixel-ratio: 1.5) {} /* detect retina mobile */
@media screen and (min-aspect-ratio: 16/10) {}

@media (hover:hover) {}
@media (any-hover:hover) {}
/*
  hover: hover      , if the primary input mechanism can hover elements;
  hover: none       , if the primary input mechanism can’t hover elements, or there is no primary pointing input mechanism.
*/

@media (pointer:hover) {}
@media (any-pointer:hover) {}
/*
  pointer: coarse   , if the primary input mechanism includes a pointing device of limited accuracy;
  pointer: fine     , if the primary input mechanism includes an accurate pointing device;
  pointer: none     , if the primary input mechanism does not include a pointing device.
*/

  /*
       600px      900px                1200px       1800px
  phone     tablet     landscape tablet      desktop      big
  */

/* SASS PRESETS */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


/* ======================================================== PRINT */
/* DATA LINKS
   https://www.pagedmedia.org/paged-js/
*/

/*
CSS Paged Media Module
https://drafts.csswg.org/css-page-3/
*/
@media print {
     @page {
        margin: .5cm;
    }
}

.pageBreak {
  page-break-after  : auto | always | avoid | left | right
  page-break-before : auto | always | avoid | left | right
  page-break-inside : auto | avoid
}

blockquote {
    break-inside: avoid;
}

/* NAMED PAGES */

@page cover {
        margin: 20mm 30mm;
      background: yellow;
}
section.first {
      page: cover;
}

/* LEFT-RIGHT PAGES */

@page :left {
      margin-right: 2in;
}
@page :right {
      margin-left: 2in;
}


/* ======================================================== FORMS */


.aFormInput:invalid:not(:placeholder-shown) {
    color:brown;
}
.aFormInput:valid:not(:placeholder-shown) {
    color:darkgreen;
}




/* ======================================================== IMAGES */

.blend-image-with-color {
	background: rgb(244, 65, 106);
	mix-blend-mode: multiply;
}

/*
Background-blend-mode blends together the background layers of the element we’re targeting.
Our element could have background images, colours and gradients, and they would all be blended
with each other without affecting the foreground content. We can specify multiple values
for background-blend-mode, one for each background layer.
*/
.Background-blend-mode {
	background: url(#myUrl),
		linear-gradient(45deg, rgba(65, 68,
		244, 1), rgba(203, 66, 244, 0.5)),
		rgba(244, 65, 106, 1);
	background-size: cover;
	background-blend-mode: screen,
	multiply;
}

/* base64 */
div {
    background-image: url("data:image/svg+xml;base64,-----");
}

/* SVG→CSS encoder
   https://yoksel.github.io/url-encoder/
*/
div {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
div {
    background-image: url('data:image/svg+xml;utf8,');
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>");
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="350" height="200" fill="none" stroke="red"><path d="M50,150 C50,0 200,0 200,75 C200,150 350,150 350,0"/></svg>');
}


/* path move */
.el-fox {
    /* define box */
    width:  3rem;
    height: 3rem;
    border-right:  2px solid magenta;
    background-color:  hsla(204, 44%, 34%, 0.5);

    /* define path */
    offset-path: path('M0,0 C40,160 60,160 100,0');
    offset-path: path("M50,150 C50,0 200,0 200,75 C200,150 350,150 350,0");
    offset-rotate: auto 90deg;
    offset-anchor: 50% 50%;
    animation: go 4000ms infinite ease-in-out;
}
@keyframes go {
     50% { offset-distance: 100%; }
    100% { offset-distance:   0%; }
}

@supports (-webkit-background-clip: text) {
    div {
    -webkit-background-clip: text;
    }
}

@supports (clip-path:polygon(0 0, 50% 50%, 100% 0)) {
    clip-path: polygon(0 -1px, 100% -1px, 100% 100%, 0 100%, 2rem 50%);
}


.blur {
	backdrop-filter: blur(5px);
}


/* ======================================================= ANIMATION */


/* keyframe animation */

@keyframes animationSample {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
.myElement {
             animation-name: my-animation;
  animation-timing-function: cubic-bezier(0.4,0,0.2,1);
         animation-duration: 1s;
  animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: normal;
            animation-delay: 2s;
       animation-play-state: initial;
}
.myElement:hover {
       animation-play-state: paused;
}

/* animate when hover */

.el-animation-when-hover { 
    animation: 2s moveX alternate infinite paused;
}
.el-animation-when-hover:hover {
    animation-play-state: running;
}

/* color link on hover */
https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/

a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers
  &:hover {
    background-position: 0 100%;
  }
}


/* ======================================================== TYPOGRAPHY */


@font-face {
  font-family: 'AppFont';
  src: url(data:application/x-font-woff;-------) format('woff');
  font-weight: normal;
  font-style: normal;
}


/* hanging-punctuation fallback */

/* Fallback */
blockquote {
  text-indent: -0.45em; /* approx magic number */
}
/* If there's support, erase the indent and use the property instead */
@supports ( hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}


/* ======================================================== USECASE TRICKS */


/* Inline Multirow Background */
h1 {
  max-width: 300px;
  font-family: Verdana;
}
h1 span {
  background: blue;
  color: white;
  padding: 12px 12px;
  line-height: 1.4;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


/* Font Size Formula
   The formula to make this work is relatively simple, it takes 4 variables:
   minimum size, maximum size, minimum viewport width and maximum viewport width.
*/
body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
}


/* Flex Albatross Trick
   https://css-tricks.com/putting-the-flexbox-albatross-to-real-use/
*/
div {
  flex-basis: calc(560px * 999 - 100% * 999);
}



/* Focused shadow */

body.hasFocusedShadow {
    pointer-events:  none;
}
body.hasFocusedShadow .aFocusedShadow {
    position: relative;
    z-index: 9999;
    pointer-events: auto;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
}


/* Invisible Content */

.aTextContentIsVisuallyHidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}



/* loading spinner */

.aLoadingIcon {
    display:inline-block;
    vertical-align:middle;
    min-width:25px;
    min-height:25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMiA0VjFMOCA1bDQgNFY2YzMuMzEgMCA2IDIuNjkgNiA2IDAgMS4wMS0uMjUgMS45Ny0uNyAyLjhsMS40NiAxLjQ2QzE5LjU0IDE1LjAzIDIwIDEzLjU3IDIwIDEyYzAtNC40Mi0zLjU4LTgtOC04em0wIDE0Yy0zLjMxIDAtNi0yLjY5LTYtNiAwLTEuMDEuMjUtMS45Ny43LTIuOEw1LjI0IDcuNzRDNC40NiA4Ljk3IDQgMTAuNDMgNCAxMmMwIDQuNDIgMy41OCA4IDggOHYzbDQtNC00LTR2M3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+");
    -webkit-animation: keyframeSimpleRotation 1s infinite linear;
    animation: keyframeSimpleRotation 1s infinite linear;
}
@-webkit-keyframes keyframeSimpleRotation {
    from {-webkit-transform: rotate(359deg);}
    to   {-webkit-transform: rotate(0deg);}
}
@keyframes keyframeSimpleRotation {
    from {transform: rotate(359deg);}
    to   {transform: rotate(0deg);}
}


/* NO SELECTION / COPY ALL SELECTION */

.copy-no {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.copy-all {
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */
}


/* COMPLETE RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video
{	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline; text-align: left;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
/* COMPLETE RESET */


/* MODERN RESET https://benfrain.com/a-modern-css-reset-with-caveats/ */
* { all: unset; }
base, basefont, datalist, head, meta, script, style, title, noembed, param, template { display: none; }



/* ======================================================= CSS DEEP */


tr:nth-child(odd of li:not(.BANISHED)) {
  background: WhiteSmoke;
}
ol li:nth-child(n+7):nth-child(-n+14) {
  background: lightpink;
}


/* CSS COUNTER */

.faq {
    counter-reset: my-badass-counter;
}
.faq dt:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
}


/* COLUMNS */
.test-for-multicolumn {
  column-width: 14em;
  column-gap:   4em;
  column-rule:  1px solid #ccc;
}


/*  Variables */


:root {
    --grid-gutter: 1rem;
}
@media (min-width: 600px) {
    :root {
        --grid-gutter: 1.25rem;
    }
}
.grid {
    display: grid;
    grid-gap: var(--grid-gutter);
    margin-left: calc(-1 * var(--grid-gutter));
    margin-right: calc(-1 * var(--grid-gutter));
}


/* GRID */

grid-column: span 8 / -1; // this item will always align to the end

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:
     200px  1fr  1fr;
  grid-template-areas:
    "pro    a    b"
    "pro    c    d";
}

.grid-auto-fit-usecase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}



/* ================================================================= SASS */

/* first text row without empty space at the top */

@mixin lhCrop($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}



/* function removes size-unit from value */
/* In Sass, a unit divided by another unit of the same type will strip the unit and return the digit. */

@function scut-strip-unit ($num) {
  @return $num / ($num * 0 + 1);
  // 12px / 1px = 12
}

/* using of & */

.MyComponent {
  &-title {}
  &-content {}
}

// Compiles to
.MyComponent {}
.MyComponent-title {}
.MyComponent-content {}

/* using of variables+& */

.MyComponent {
  $block: &;
  $xmasTheme: #{&}--xmasTheme;

  &-title {
    #{$xmasTheme} & {
    }
  }
}

// Still compiles to
.MyComponent {}
.MyComponent-title {}
.MyComponent--xmasTheme .MyComponent-title {}

/*

  One of the more popular methodologies for organizing Sass files is the 7-1 Pattern.
  That’s seven distinct folders containing Sass files that are imported into a single Sass file.
  Those folders are:

    abstracts
    base
    components
    layout
    pages
    themes
    vendor

*/


/* SASS dataset pattern */

// VARIABLES
$c: ".c-social-button";
$networks: facebook, google, messenger, twitter;
// THE DATASET FOR SOCIAL COLORS
$socialColors: (
	facebook: #3b5998,
	google: #db4437,
	messenger: #db4437,
	twitter: #1da1f2
);
#{$c} {
	// --> NETWORKS <--
	@each $network in $networks {
		&--#{network} {
			background: map-get($socialColors, $network);
		}
	}
}
