body {
    background-color: #ECE5CE;
    color: #774F38;
}
.design .article {
    background-color: #ECE5CE;
    color: #774F38;
}
.design .block-note {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #C5E0DC;
    font-family: Verdana, Geneva, sans-serif;
}
.design .illustration figcaption {
    font-size: smaller;
    font-family: Verdana, Geneva, sans-serif;
    margin-top: 0.5em;
}

/* -------------------------------------- demo-data */

.design-article {
    background-color: #ECE5CE;
    color: #774F38;
}


/* -------------------------------------- components */



.document-intro {
    background-color: rgba(0,0,0,0.2);
    height: 62vh;
}

.watcher {
    position:fixed;
    top:50%;
    left:0;
    background-color: red;
}
.watcher.active {
    background-color: pink;
}