/** Hosted Fonts
 *  2019.12.30
 *
 *  CSS
 *  Default path: ../fonts/
 */


/** -------------------------------------------- Serif Texts  */

@font-face {
    font-family: 'Vollkorn';
    font-weight:  normal;
    font-style:   normal;
    src:
        /* local('Vollkorn'), */
        url('../fonts/Vollkorn-R.eot?#iefix')           format('embedded-opentype'),
        url('../fonts/Vollkorn-R.woff2')                format('woff2'),
        url('../fonts/Vollkorn-R.woff')                 format('woff'),
        url('../fonts/Vollkorn-R.ttf')                  format('truetype'),
        url('../fonts/Vollkorn-R.svg#Vollkorn-Regular') format('svg');
}
@font-face {
    font-family: 'Vollkorn';
    font-weight:  700;
    font-style:   normal;
    src:
        url('../fonts/Vollkorn-B.eot?#iefix')        format('embedded-opentype'),
        url('../fonts/Vollkorn-B.woff2')             format('woff2'),
        url('../fonts/Vollkorn-B.woff')              format('woff'),
        url('../fonts/Vollkorn-B.ttf')               format('truetype'),
        url('../fonts/Vollkorn-B.svg#Vollkorn-Bold') format('svg');
}
@font-face {
    font-family: 'Vollkorn';
    font-weight:  normal;
    font-style:   italic;
    src:
        url('../fonts/Vollkorn-I.eot?#iefix')          format('embedded-opentype'),
        url('../fonts/Vollkorn-I.woff2')               format('woff2'),
        url('../fonts/Vollkorn-I.woff')                format('woff'),
        url('../fonts/Vollkorn-I.ttf')                 format('truetype'),
        url('../fonts/Vollkorn-I.svg#Vollkorn-Italic') format('svg');
}


/** -------------------------------------------- Mono Codeblock */

@font-face {
    font-family: 'VT323';
    font-weight:  normal;
    font-style:   normal;
    src:
        url('../fonts/VT323-CODE.eot?#iefix')        format('embedded-opentype'),
        url('../fonts/VT323-CODE.woff')              format('woff'),
        url('../fonts/VT323-CODE.ttf')               format('truetype'),
        url('../fonts/VT323-CODE.svg#VT323-Regular') format('svg');
}


/** -------------------------------------------- Fonts Hosted at Google */
/*

    <link rel="preconnect"   href="//fonts.gstatic.com" crossorigin>

    <link
        media="none" onload="if(media!='all')media='all'"
        href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic"
        rel="stylesheet">
    <link
        media="none" onload="if(media!='all')media='all'"
        href="https://fonts.googleapis.com/css?family=VT323"
        rel="stylesheet">

<noscript>
    <link
        media="all"
        href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic"
        rel="stylesheet">
    <link
        media="all"
        href="https://fonts.googleapis.com/css?family=VT323"
        rel="stylesheet">
</noscript>

*/


/*  EOF Hosted Fonts */
