//* ------------------------------------ pending

html { font-size: 10px;   line-height: 1; }
body { font-size: 1.6rem; line-height: 1.5; }

h1,h2,h3,h4,p { margin: 0; color: inherit; }

h1 {
    font-size: 2em;
    line-height: 1;
}
h2 {
    font-size: 1.5em;
    line-height: 1.33333;
}
h3 {
    font-size: 1.25em;
    line-height: 1.2;
}
h4 {
    font-size: inherit;
    line-height: inherit;
}

.chapter {
    position: relative;
    .chapter-top {
        position: sticky;
        top: 0;
    }
}


/* ------------------------------------ content defaults */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
img, svg {
  display: block;
  border: none;
  max-width: 100%;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
hr { // <hr> as empty spacer
    min-height: 3.2rem;
    border: 0;
    background: transparent;
    box-shadow: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* ------------------------------------ end of html base */


/* ------------------------------------ system colors */

$color_bgRed:    hsla(  1, 66%, 84%,   1);
$color_bgGreen:  hsla( 78, 49%, 83%,   1);
$color_bgBlue:   hsla(177, 42%, 76%,   1);
$color_shadow:   rgba(0,0,0,0.1);

/**/

// slices

$z-index-sidebar:                    3;
$z-index-shadowOverlay:              2;



$margin-def:  $margin-def;
$margin-less: $margin-less;
.title {
    margin-top:    $margin-less - $margin-def ;
    margin-bottom: $margin-less - $margin-def ;
}
.toolbar {
    background-color: pink;
    float: right;
}

/*/// chapter scroll snap
.body-wrap { scroll-snap-type: y proximity; }
.chapter, .fullscreen { scroll-snap-align: start; }
//*///

$margin-half: $margin-half;
.welcome-boxes-template {

    // column layout
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    &, &>* { margin: $margin-half; }
}

$margin-def:  $margin-def; // 2.4rem
$margin-half: $margin-half;// $margin-def / 2
.welcome-boxes-layout {

    // column layout
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    &, &>* { margin: $margin-half; }
}
%welcome-item--is-blue-box {
    background-color: hsla(229, 55%, 12%, 0.7);
    color: white;
}
.welcome-item {
    @extend %welcome-item--is-blue-box;
    // components
    .block:not(:last-child) {
        margin-bottom: $margin-def;
    }
}
.welcome-links {
    @extend .welcome-item;
    max-width: 32em;
}
.welcome-form {
    @extend .welcome-item;
    max-width: 28em;

    // has smaller text
    font-size: 0.8em;
    line-height: 1.2;
}


$margin-def:  $margin-def; // 2.4rem
$margin-less: $margin-less;// 1.6rem
.logo-matrix-demo-try {

    // has grid-system
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 1px;
    padding:  $margin-def;

    // card structure
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .card-picture {
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
    }
    .card-text {
    }

    // special menu card
    .card.menu {
        grid-column: -2;
        grid-row:    -1;
    }

    // card design
    .card {
        background-color: white;
        color:black;
    }
    .card-picture {
        padding: $margin-def 25% $margin-less 25%;
        background-color: white;
        color:            black;
    }
    .card-text {
        padding: $margin-def;
        padding-top: 0;
        font-size: 0.8em;
        line-height: 1.33333;
    }

}


$margin-def:  $margin-def; // 2.4rem
$margin-less: $margin-less;// 1.6rem
$color--LogoMatrix-active: hsla(0, 0%, 66%, 1);
.logo-matrix-exp2 {

    // grid-system
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: min-content;
    grid-auto-flow: column;
    grid-gap: 1px;
    overflow: auto;
    padding:  $margin-def;

    // card
    .card {

        // default size settings
        width: 80vw;
        max-width: 42em;

        font-size: 1rem;
        line-height: 1.6rem;

        // box model
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

    }
    .card-picture {
        order: 2;
        flex-shrink: 0;

        // size settings
        width: 10rem;
        padding: 1rem;

        // box--xy-centered
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .card-text {
        order: 1;
        flex-grow: 2;

        // box--y-centered
        align-self: stretch;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        // background decoration
        transition: background 200ms ease-out;
        background-color: transparent;
        padding: 1rem 2.4rem 1rem 1.6rem;
        clip-path: polygon(
            0 -1px,
            calc( 100% - 2.4rem ) -1px,
            100% 50%,
            calc( 100% - 2.4rem ) 100%,
            0 100%
        );
    }
    .link {
        display: inline-block;
        border-bottom: 1px solid $color--LogoMatrix-active;
        padding-right: 0.2em;

        font-weight: 600;
        font-size: 1.4em;
        line-height: 1.6rem;
    }

    // hover card
    .card:hover {
        .card-text {
            background-color: $color--LogoMatrix-active;
            transition-timing-function: ease-in;
        }
    }

    // scrollbar design
    &::-webkit-scrollbar {
        height: 2.4rem;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color--LogoMatrix-active;
      outline: 1px solid $color--LogoMatrix-active;
    }

}
// design template
.logo-matrix-exp2 {
    .card {
        background-color: white;
        color: black;
    }
    .card:hover .card-text {
        background-color:    hsla(171, 55%, 71%, 1);
    }
    .link {
        border-bottom-color: hsla(171, 55%, 71%, 1);
    }

    // scrollbar design
    &::-webkit-scrollbar {
        height: 2.4rem;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color:  hsla(171, 55%, 71%, 1);
      outline: 1px solid hsla(171, 55%, 71%, 1);
    }
}




$margin-def:  $margin-def; // 2.4rem
$margin-less: $margin-less;// 1.6rem
$color--form-design-bg:   white;
$color--form-design-text: black;
%form-components--plains {
    .form-item {
        flex-direction: row;
        align-items: center;
        &>label { flex-grow: 0; }
    }
    .form-item + .form-item,
    .form-textarea {
        border-top: 1px solid rgba(0,0,0,.25);
    }
    label {
        margin-right: 1em;
        padding: 1em 0;
    }
    input {
        border: 0;
        background-color: transparent;
        color: inherit;
        box-shadow: none;
    }
    .form-textarea {
        flex-wrap: wrap;
    }
    textarea+label {
        width: 100%;
        padding-bottom: 0.4em;
        margin-right: 0;
    }
    textarea {
        background-color: transparent;
        color: inherit;
        border-width: 1px;
        box-shadow: none;
    }
}
.form-design--plains {
    @extend %form-components--plains;
    min-width: 24em;
    .button {
        display: block;
        border-radius: 4px;
        padding: 1em;
        border: 0;
        font-size: 1.5em;
    }
    .form-group {
        // has white background
        background-color: white;
        color: black;
        border-radius: 4px;
        padding-top: 0.5em;
        // has fields
        .form-item {
            margin: 0 $margin-def;
        }
        .form-textarea {
            margin: 0 $margin-def;
            margin-bottom: $margin-def;
        }
    }
    input {
        font-size: inherit;
        line-height: 2;
        font-weight: bolder;
    }
    .form-textarea {
        margin-bottom: $margin-less;
    }

}


//* ------------------------------------ support features

// explain js actions with html
[content-action] { display: none; }
[bg] { background-color: hsla(229, 55%, 12%, 0.7); }

.dev-panel, dev-panel {
    background-color: hsla(229, 55%, 12%, 0.7);
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.dev-item, dev-item {
    background-color: hsla(229, 55%, 12%, 0.7);
    color: white;
    font-size: 2em;
    padding: 0 0.4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.dev-box, dev-box {
    background-color: hsla(229, 55%, 12%, 0.7);
    color: white;
    font-size:  2em;
    width: 100%;
    min-width:  8rem;
    max-width: 36rem;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/**/
