/* ==============================================================
 # Describe HTML & BODY
============================================================== */


/* ------------------------------------ body box model */

.screen {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.screen-header {
    position: sticky;
    top: 0;
    background-color: $color_main_back;
}
.screen-footer {
    margin-top: auto;
}

// browser tribute

html {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: flex;
        flex-direction: column;
    }
}

/* */


/* EOF: layout-screen */
