/* ------------------------------------ body box model */

.body-wrap {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.body-wrap-header {
    position: sticky;
    top: 0;
    background-color: $color_main_back;
}
.body-wrap-footer {
    margin-top: auto;
}

// browser tribute

html.has-body-wrap {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: flex;
        flex-direction: column;
    }
}

/* */
