// --------------------------------------------------------------
// MMS grid settings and formula
// 2019.1.2
//
// Naming:
// screen → | [menu] [main] [side] | ← screen
//
// Compact mode:
// screen → | [menu] | ← screen
// screen → | [main] | ← screen
// screen → | [side] | ← screen
//
// overmain, overmenu, overside
// — same columns with horizontal padding-space
//
// --------------------------------------------------------------

// ------------------------------------------ settings

$grid-settings--screensize-for-compact-view: 600px; // one column
$grid-settings--screensize-for-reduced-view: 900px; // one column with screen space


$grid-settings--column-gap:    1.0rem;
$grid-settings--row-gap:       1.0rem;
$grid-settings--screenspacer:  minmax(0, 1fr);
$grid-settings--width-of-menu: 16vw;
$grid-settings--width-of-side: 16vw;

$grid-settings--max-width-for-main: 700px;




$screenForCompactGrid: 'max-width: #{$grid-settings--screensize-for-compact-view}';
$screenNotCompactGrid: 'min-width: #{$grid-settings--screensize-for-compact-view + 1}';
$screenForReducedGrid: 'max-width: #{$grid-settings--screensize-for-reduced-view}';
$screenNotReducedGrid: 'min-width: #{$grid-settings--screensize-for-reduced-view + 1}';
$screenForClassicGrid: 'min-width: #{$grid-settings--screensize-for-reduced-view + 1}';
$screenNotClassicGrid: 'max-width: #{$grid-settings--screensize-for-reduced-view}';


$w: $grid-settings--max-width-for-main;
$g: $grid-settings--column-gap;
// unit = 1/6 of main column
$grid-settings--main-unit: minmax(0, calc( (#{$w} - (5*#{$g})) / 6 ) );

// ------------------------------------------ formulas

$BEGIN--grid-formula:        unquote(" [ ") full-start;
$END--grid-formula:          full-end unquote(" ] ");
$SCREEN-SPACE--grid-formula: unquote(" ] ") $grid-settings--screenspacer unquote(" [ ");
$MIDDLE-SPACE--grid-formula: unquote(" ] ") 0 unquote(" [ ");

$CONTENT--grid-formula:
    $grid-settings--main-unit unquote(" [b] ")
    $grid-settings--main-unit unquote(" [c] ")
    $grid-settings--main-unit unquote(" [d midpoint] ")
    $grid-settings--main-unit unquote(" [e] ")
    $grid-settings--main-unit unquote(" [f] ")
    $grid-settings--main-unit ;
$MAIN--grid-formula:
    main-start a
        unquote(" ] ")
            $CONTENT--grid-formula
        unquote(" [ ")
    main-end g
    ;
$MAIN-NO-LIMIT--grid-formula:
    main-start a
        unquote(" ] ")
            1fr unquote(" [b] ")
            1fr unquote(" [c] ")
            1fr unquote(" [d midpoint] ")
            1fr unquote(" [e] ")
            1fr unquote(" [f] ")
            1fr
        unquote(" [ ")
    main-end g
    ;
$OVERMAIN--grid-formula:
    overmain-start
        $MIDDLE-SPACE--grid-formula
            $MAIN--grid-formula
        $MIDDLE-SPACE--grid-formula
    overmain-end
    ;
$OVERMENU--grid-formula:
    overmenu-start
        $MIDDLE-SPACE--grid-formula
            menu-start
            unquote(" ] ")
                $grid-settings--width-of-menu
            unquote(" [ ")
            menu-end
        $MIDDLE-SPACE--grid-formula
    overmenu-end
    ;
$OVERSIDE--grid-formula:
    overside-start
        $MIDDLE-SPACE--grid-formula
            side-start
            unquote(" ] ")
                $grid-settings--width-of-side
            unquote(" [ ")
            side-end
        $MIDDLE-SPACE--grid-formula
    overside-end
    ;


// --------------------------------------------------------------
// PRIMARY COLUMNS
// --------------------------------------------------------------


// ------------------------------------------ full grid
$grid-template-columns--full:
    $BEGIN--grid-formula
        $SCREEN-SPACE--grid-formula
            $OVERMENU--grid-formula
            $OVERMAIN--grid-formula
            $OVERSIDE--grid-formula
        $SCREEN-SPACE--grid-formula
    $END--grid-formula;
// ------------------------------------------ content fallback
$grid-template-columns--main:
    $BEGIN--grid-formula
        overmain-start
        overside-start
        overmenu-start
            menu-start
            side-start
                $MAIN--grid-formula
            menu-end
            side-end
        overmain-end
        overside-end
        overmenu-end
    $END--grid-formula;
// ------------------------------------------ overmain grid
$grid-template-columns--overmain:
    $BEGIN--grid-formula
        overmain-start
        overmenu-start
        overside-start
            $MIDDLE-SPACE--grid-formula
                menu-start
                side-start
                    $MAIN--grid-formula
                side-end
                menu-end
            $MIDDLE-SPACE--grid-formula
        overmain-end
        overmenu-end
        overside-end
    $END--grid-formula;
// ------------------------------------------ overmain without width limit
$grid-template-columns--overmain-no-limit:
    $BEGIN--grid-formula
        overmain-start
        overmenu-start
        overside-start
            $MIDDLE-SPACE--grid-formula
                menu-start
                side-start
                    $MAIN-NO-LIMIT--grid-formula
                side-end
                menu-end
            $MIDDLE-SPACE--grid-formula
        overmain-end
        overmenu-end
        overside-end
    $END--grid-formula;
// ------------------------------------------ overmain with screen space
$grid-template-columns--overmain-spaced:
    $BEGIN--grid-formula
        $SCREEN-SPACE--grid-formula
            overmain-start
            overmenu-start
            overside-start
                $MIDDLE-SPACE--grid-formula
                    menu-start
                    side-start
                        $MAIN--grid-formula
                    side-end
                    menu-end
                $MIDDLE-SPACE--grid-formula
            overmain-end
            overmenu-end
            overside-end
        $SCREEN-SPACE--grid-formula
    $END--grid-formula;
// ------------------------------------------ merge main cols
$grid-template-columns--merge:
    $BEGIN--grid-formula
        $OVERMENU--grid-formula
        $OVERMAIN--grid-formula
        $OVERSIDE--grid-formula
    $END--grid-formula;
// ------------------------------------------ merge with menu
$grid-template-columns--merge-menu:
    $BEGIN--grid-formula
        $OVERMENU--grid-formula
        overside-start
        overmain-start
            $MIDDLE-SPACE--grid-formula
                side-start
                    $MAIN--grid-formula
                side-end
            $MIDDLE-SPACE--grid-formula
        overmain-end
        overside-end
    $END--grid-formula;
// ------------------------------------------ merge with menu till screen end
$grid-template-columns--merge-menu-screen:
    $BEGIN--grid-formula
        $SCREEN-SPACE--grid-formula
            $OVERMENU--grid-formula
            overside-start
            overmain-start
                $MIDDLE-SPACE--grid-formula
                    side-start
                        $MAIN--grid-formula
                    side-end
                $MIDDLE-SPACE--grid-formula
            overmain-end
            overside-end
    $END--grid-formula;
// ------------------------------------------
$grid-template-columns--merge-menu-screen-reduced:
    $BEGIN--grid-formula
        $SCREEN-SPACE--grid-formula
            overmenu-start
            overside-start
            overmain-start
                $MIDDLE-SPACE--grid-formula
                    menu-start
                    side-start
                        $MAIN--grid-formula
                    side-end
                    menu-end
                $MIDDLE-SPACE--grid-formula
            overmain-end
            overside-end
            overmenu-end
    $END--grid-formula;
// ------------------------------------------ merge with side
$grid-template-columns--merge-side:
    $BEGIN--grid-formula
        overmenu-start
        overmain-start
            $MIDDLE-SPACE--grid-formula
                menu-start
                    $MAIN--grid-formula
                menu-end
            $MIDDLE-SPACE--grid-formula
        overmain-end
        overmenu-end
        $OVERSIDE--grid-formula
    $END--grid-formula;
// ------------------------------------------ merge with side till screen end
$grid-template-columns--merge-side-screen:
    $BEGIN--grid-formula
            overmenu-start
            overmain-start
                $MIDDLE-SPACE--grid-formula
                    menu-start
                        $MAIN--grid-formula
                    menu-end
                $MIDDLE-SPACE--grid-formula
            overmain-end
            overmenu-end
            $OVERSIDE--grid-formula
        $SCREEN-SPACE--grid-formula
    $END--grid-formula;
// ------------------------------------------ merge with side till screen end
$grid-template-columns--merge-side-screen-reduced:
    $BEGIN--grid-formula
            overmenu-start
            overside-start
            overmain-start
                $MIDDLE-SPACE--grid-formula
                    menu-start
                    side-start
                        $MAIN--grid-formula
                    side-end
                    menu-end
                $MIDDLE-SPACE--grid-formula
            overmain-end
            overmenu-end
            overside-end
        $SCREEN-SPACE--grid-formula
    $END--grid-formula;
// --------------------------------------------------------------


// --------------------------------------------------------------
// SUPPORT COLUMNS
// --------------------------------------------------------------


// --------------------------------------------------------------
$grid-template-columns--short:
    unquote(" [ ")
        full-start
        menu-start
        overmain-start
        main-start
        side-start
        a b
    unquote(" ] ")
            1fr
                unquote(" [c d e midpoint] ")
            1fr
    unquote(" [ ")
        full-end
        menu-end
        overmain-end
        main-end
        side-end
        f g
    unquote(" ] ");

// --------------------------------------------------------------
$grid-template-columns--overmain-cut-one:
    unquote(" [full-start overmain-start overmenu-start overside-start] ")
            0
        unquote(" [ ")
            menu-start side-start
            main-start a
        unquote(" ] ")
            $CONTENT--grid-formula
        unquote(" [ ")
            main-end g
            menu-end
            side-end
            overmain-end
            overmenu-end
            overside-end
            full-end
        unquote(" ] ")
    ;
$grid-template-columns--overmain-cut-two:
        unquote(" [ ")
            full-start
            overmenu-start
            overmain-start
            overside-start
            menu-start
            side-start
            main-start a
        unquote(" ] ")
            $CONTENT--grid-formula
        unquote(" [ ")
            main-end g
            menu-end side-end
        unquote(" ] ")
            0
    unquote(" [overmain-end overmenu-end overside-end full-end] ")
    ;
$grid-template-columns--overmain-half-one:
    unquote(" [overmain-start full-start] ")
            0
        unquote(" [main-start menu-start side-start a] ")
            $CONTENT--grid-formula
        unquote(" [main-end menu-end side-end overmain-end full-end g] ")
    ;

$grid-template-columns--overmain-half-two:
        unquote(" [overmain-start full-start main-start menu-start side-start a] ")
            $CONTENT--grid-formula
        unquote(" [main-end menu-end side-end g] ")
            0
    unquote(" [overmain-end full-end] ")
    ;




