/*this is for text player*/
.playerScreen
{
  border:4px #ccc solid;
  margin:40px;
  padding:20px;
  background:rgba(255,255,255,.4);
}
/*this is for VISUAL player*/
.client-bubble {
	position:absolute;
	top:180px;
	left:360px;
	min-height:50px;
	width:250px;
	border:solid #114 2px;
	border-radius: 15px;
	background: rgba(256, 256, 256, 0.7);
	padding:15px;
}
.say-bubble {
	position:absolute;
	top:65px;
	left:65px;
	/* min-height:50px; */
	width:250px;
	padding:15px;
	color: #777;
	/*border:solid #777 1px;
	border-radius: 15px;
	background: rgba(200, 200, 200, 0.3);*/
}
.buttons-holder{
	position:absolute;
	left:55px;
	bottom:55px;
	width:590px;
}

.player-button {
	width:auto;
	max-width:570px;
	text-align:center;
	border: solid #777 1px;
	background: rgba(256, 256, 256, 0.9);
	cursor:pointer;
	padding:3px 10px 3px 10px;
	margin:2px 0px 2px 8px;
	border-radius: 5px;
	-webkit-user-select: none;
}
.player-button:hover {
	background: rgba(256, 256, 256, 1);
}