/*
.gl-welcome-screen {
}
.gl-welcome-form {
    grid-column: aside;
}
.gl-scroll-invitation {
    grid-column: full;
}
.gl-welcome-screen:before {
    content: '';
    position: absolute;
    z-index: -1;
    top:    0;
    left:   0;
    bottom: 0;
    right:  0;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gl-welcome-screen {
    color: white;
}
.gl-welcome-screen:before {
    background-color: black;
    background-image: url('https://test.gaminglicensing.com/images/main-bg.jpg');
}
.gl-welcome-screen a {
    color: hsl(196, 100%, 47%);
}
.gl-welcome-links {
    padding: 3rem;
    background-color: hsla(229, 55%, 12%, 0.7);
}
.gl-welcome-form {
    padding: 3rem;
    background-color: hsla(229, 55%, 12%, 0.7);
}
*/