/* ==============================================================
    column solution
    2018.12.8
============================================================== */

$margin-def: $margin-def; // 2.4rem;

.group {

    /* is horizontal grid */
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-gap: $margin-def;
    &>* {
        grid-column: auto;
        height: 100%;
    }

    /* has overflow fallback */
    overflow: auto;

    /* app standarts */
    &>.block {
        grid-column: auto;
    }
    &.block {
        padding-left:  $margin-def;
        padding-right: $margin-def;
    }
}


/* eof sidebar */
