@import "try-supergrid.scss";

html {
    font-family: Vollkorn;
    cursor:default;
}
html, body { margin: 0; padding: 0; }

p,ul,h1,h2 {
    &:hover { background-color: $colorShy; }
}

.img {
    padding-top: 40%;
    background-color: goldenrod;
}

