/* app4K css base
v2017.12.14 app4K.4001
*/

/*

# z-index

    11 - aside panels
    12 - fixed menu triggers

*/

/*
--------------------------------------------------- basics
*/

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.zzzZoomableOverlay {
    z-index:20!important;
}
.zzzZoomableOverlay {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    background-position: right top;
    background-size: 8vw 8vw;
    background-repeat: no-repeat;
}
.zzzZoomed {
    z-index:21!important;
}
.social-likes {
    margin: 0;
}


/*
--------------------------------------------------- atoms
*/

.isWhenActive {
    display: none;
}
.elItem {
    padding: 8px;
}
a.elItem,
span.elItem {
    display: inline-block;
    vertical-align: baseline;
}
.elAntiItem {
    margin-left: -8px;
    margin-right: -8px;
}
.elSection {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
@media (max-width: 900px) {
    .elSection {
        padding-left: 8%;
        padding-right: 8%;
    }
}


/*
--------------------------------------------------- icons
*/

.aIcon,
.aIcon:link,
.aIcon:visited,
.aIcon:active,
.aIcon:hover,
.aIcon:focus
{
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    line-height: 1;
    width: 1em;
    height: 1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
button.aIcon {
    background-color: transparent;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: 1;
    cursor: pointer;
}
.aIcon--hamburger
{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz48L3N2Zz4=);
}
.aIcon--close
{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.aIcon__contrast .aIcon--close,
.aIcon--close.aIcon__contrast
{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.aIcon--home {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEwIDIwdi02aDR2Nmg1di04aDNMMTIgMyAyIDEyaDN2OHoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
--------------------------------------------------- interface components
*/

.elView {
    position: relative;
}

/*
Shadow overlay
*/

.elView__shadow {
    background-color: rgba(0,0,0,.5);

    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;

    will-change: opacity;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
}

/*
Magic Header
*/

.elMagicHeader
{
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;

    will-change: transform;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.itsTimeForMagicHeader .elMagicHeader {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* design */

.cMagicHeader {
    background-color: #E8DDCB;
    height: 4rem;
    padding: 0 4rem;
    padding-left: 12.5%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
@media all and (max-width:900px){
    .cMagicHeader {
        height: 9vw;
        padding: 0 8vw;
        justify-content: center;
    }
}


/*
Site Panel
*/

.elSitePanel__floatTrigger {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
}
.elSitePanel__layout {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;

    will-change: transform;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.hasOpenSitePanel .elSidePanel .isWhenActive   { display:block; }
.hasOpenSitePanel .elSidePanel .isWhenInactive { display:none; }
.hasOpenSitePanel .elSitePanel__layout {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.hasOpenSitePanel .elView__shadow {
    right: 0;
    opacity: 1;
}

/* design */

.cSitePanel__layout {
    width: 300px;
    background-color: #BBB;
}
@media all and (max-width:600px){
    .cSitePanel__layout {
        width: 100%;
    }
}

/*
Page Panel
*/

.elPagePanel__floatTrigger {
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
}
.elPagePanel__layout {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;

    will-change: transform;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.hasOpenPagePanel .elPagePanel .isWhenActive   { display:block; }
.hasOpenPagePanel .elPagePanel .isWhenInactive { display:none; }
.hasOpenPagePanel .elPagePanel__layout {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.hasOpenPagePanel .elView__shadow {
    right: 0;
    opacity: 1;
}

/* design */

.cPagePanel__layout {
    width: 300px;
    background-color: #DDD;
}
@media all and (max-width:600px){
    .cPagePanel__layout {
        width: 100%;
    }
}

/*
--------------------------------------------------- design components
*/

.cDcFloatButton .aIcon {
    font-size: 4rem;
}
@media all and (max-width:900px){
    .cDcFloatButton .aIcon {
        font-size: 8vw;
    }
}

.cLayerContrast {
    background-color: #033649;
    color: #E8DDCB;
}
.cLayerContrast .dCaption {
    color: #CDB380;
}
.cLayerContrast--opposition {
    background-color: #031634;
}

.cMainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: -8px;
    font-size: 1.4rem;
}
.cMainNav > * {
    display: inline-block;
    padding: 8px;
}
.cMainNav a {
    color: #033649;
}
.cMainNav a.is-active {
    text-decoration: none;
}

/*
Landing intro section
*/

.cLanding {
    background-color: #E8DDCB;
}
.cLanding__header,
.cLanding__menu,
.cLanding__view {
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.cLanding__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}
.cLanding__header .aTitle {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    font-weight: normal;
    font-size: 3rem;
    line-height: 1;
}
.cLanding__view {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

/*
Stage header
*/

.cStageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.cStageHeader--noAnchor {
    padding-top: 1rem;
}
.cStageHeader .aCaption {
    display: inline-block;
    flex-grow: 0;
    margin: 0;
    padding: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 3.2rem;
    line-height: 1.2;
    font-weight: 700;
    color: rgba( 68, 42, 55, 1);
}
.cStageHeader .aDecor {
    display: block;
    flex-grow: 1;
    height: 1rem;
    background-color: rgba( 68, 42, 55, .1);
}
.cStageHeader .aSymbol {
    color: rgba( 68, 42, 55, .15);
}
@media all and (max-width:900px) {
    .cStageHeader:not(.cStageHeader--noAnchor) {
        padding-top: 10vw;
    }
    .cStageHeader .aCaption {
        font-size: 2.1rem;
    }
}

/*
Card design cCardeQuat
*/

.cCardeQuatBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.cCardeQuatCard {
    padding: 1rem 2rem;
    width: 33%;
}
@media screen and (min-width:1200px) {
    .cCardeQuatCard {
        padding: 2rem 4rem;
    }
}

.cCardeQuatCard .aLinkDecoration {
    display: inline-block;
    color:black;
    padding: .1em;
}
.cCardeQuatCard .aLink {
    color:black;
    text-decoration: none;
}
.cCardeQuatCard .aTitle {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-size:2.1vw;
}
.cCardeQuatCard .aSubtitle {
    padding: 0;
    margin: 0;
    font-size:1.7vw;
}
@media screen and (min-width:1200px) {
    .cCardeQuatCard .aTitle {
        font-size:1.7rem;
    }
    .cCardeQuatCard .aSubtitle {
        font-size:1.4rem;
    }
}
.cCardeQuatCard .aLinkDecoration {
    border: 0px solid rgba(255,0,0,.5);
    border-bottom-width: 2px;
    -webkit-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
}
.cCardeQuatCard .aTitle .aLinkDecoration:hover,
.cCardeQuatCard .cCardeQuatCard__image:hover+.cCardeQuatCard__footer  .aLinkDecoration {
    background-color: rgba(255,0,0,.5);
    border-bottom-color: transparent;
}

@media screen and (min-width:1600px) {
    .cCardeQuatCard .cCardeQuatCard__image {
        will-change: transform;
        -webkit-transition: transform .4s ease-out;
        -o-transition: transform .4s ease-out;
        transition: transform .4s ease-out;
    }
    .cCardeQuatCard .cCardeQuatCard__image:hover {
        -webkit-transform: translateY(0.5rem);
        -ms-transform: translateY(0.5rem);
        -o-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
    }
}

/* modile card */
@media (max-width:900px) and (min-width:601px) {
    .cCardeQuatCard {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cCardeQuatCard__footer {
        text-align: center;
    }
    .cCardeQuatCard .aTitle {
        font-size:1.2rem;
    }
    .cCardeQuatCard .aSubtitle {
        font-size:1rem;
    }
}
@media all and (max-width:600px) {
    .cCardeQuatBox {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cCardeQuatCard {
        width: 100%;
        padding-left: 8vw;
        padding-right: 2vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }
    .cCardeQuatCard__footer {
        order: 1;
    }
    .cCardeQuatCard__image {
        width: 24vw;
        max-width: 160px;
        order: 2;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .cCardeQuatCard .aTitle {
        font-size:1.5rem;
    }
    .cCardeQuatCard .aSubtitle {
        font-size:1.2rem;
    }
}

/*
Blog style data
*/
.cBlog {
    padding-left: 2rem;
    padding-right: 2rem;
}
.cBlog + .cBlog {
    padding-left: 0;
}
.cBlog > header {
    text-align: left;
}
.cBlogCard + .cBlogCard {
    margin-top: 2rem;
}

/*
Saturs block
*/

.cSaturs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.cSaturs > .cBlog__images {
    width: 58%;
}
.cSaturs > .cBlog__topics {
    width: 42%;
}
.cSaturs .aCaption {
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    font-weight: normal;
    opacity: .5;
}

/*
Form layout
*/

.cForm {
    max-width: 500px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cForm--asideWrap .cForm {
    max-width: calc( 12.5vw + 500px );
    margin-bottom: 3.1rem;
}
.cForm--asideWrap .field-label {
    display: block;
    width: 12.5vw;
    width: calc( 12.5vw - 1.5rem );
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
@media all and (max-width:900px){
    .cForm--asideWrap .cForm {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .cForm--asideWrap .field {
        flex-wrap: wrap;
    }
    .cForm--asideWrap .field-label {
        width: 100%;
        text-align: left;
        margin-right: 0;
        margin-bottom: .5em;
    }
}

/**/


/**/
