/* app4K css base
v2017.12.14 app4K.4001
*/

/*

# z-index

    11 - aside panels
    12 - fixed menu triggers

*/

/*
--------------------------------------------------- basics
*/

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.zzzZoomableOverlay {
    z-index:20!important;
}
.zzzZoomableOverlay {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    background-position: right top;
    background-size: 8vw 8vw;
    background-repeat: no-repeat;
}
.zzzZoomed {
    z-index:21!important;
}
.social-likes {
    margin: 0;
}


/*
--------------------------------------------------- atoms
*/

.isWhenActive {
    display: none;
}
.elItem {
    padding: 8px;
}
a.elItem,
span.elItem {
    display: inline-block;
    vertical-align: baseline;
}
.elAntiItem {
    margin-left: -8px;
    margin-right: -8px;
}
.elSection {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
@media (max-width: 900px) {
    .elSection {
        padding-left: 8%;
        padding-right: 8%;
    }
}
h3.aTitle {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1;
    margin: 1em 0 .5em 0;
}

/*
--------------------------------------------------- icons
*/

.aIcon,
.aIcon:link,
.aIcon:visited,
.aIcon:active,
.aIcon:hover,
.aIcon:focus
{
    display: inline-block;
    vertical-align: middle;
    font-size: inherit;
    line-height: 1;
    width: 1em;
    height: 1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
button.aIcon {
    background-color: transparent;
    color: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: 1;
    cursor: pointer;
}
.aIcon--hamburger
{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz48L3N2Zz4=);
}
.aIcon--close
{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.aIcon__contrast .aIcon--close,
.aIcon--close.aIcon__contrast
{
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}
.aIcon--home {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEwIDIwdi02aDR2Nmg1di04aDNMMTIgMyAyIDEyaDN2OHoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
--------------------------------------------------- interface components
*/

.elView {
    position: relative;
}

/*
Shadow overlay
*/

.elView__shadow {
    background-color: rgba(0,0,0,.5);

    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;

    will-change: opacity;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
}

/*
Magic Header
*/

.elMagicHeader
{
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;

    will-change: transform;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.itsTimeForMagicHeader .elMagicHeader {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* design */

.cMagicHeader {
    background-color: #E8DDCB;
    height: 4rem;
    padding: 0 4rem;
    padding-left: 12.5%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
@media all and (max-width:900px){
    .cMagicHeader {
        height: 9vw;
        padding: 0 8vw;
        justify-content: center;
    }
}
.cMagicHeader__links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.4rem;
}
.cMagicHeader__links a {
    color: #033649;
}
.cMagicHeader__links a.is-active {
    text-decoration: none;
}

/*
Site Panel
*/

.elSitePanel__floatTrigger {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
}
.elSitePanel__layout {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;

    will-change: transform;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.hasOpenSitePanel .elSidePanel .isWhenActive   { display:block; }
.hasOpenSitePanel .elSidePanel .isWhenInactive { display:none; }
.hasOpenSitePanel .elSitePanel__layout {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.hasOpenSitePanel .elView__shadow {
    right: 0;
    opacity: 1;
}

/* design */

.cSitePanel__layout {
    width: 300px;
    background-color: #BBB;
}
@media all and (max-width:600px){
    .cSitePanel__layout {
        width: 100%;
    }
}

/*
Page Panel
*/

.elPagePanel__floatTrigger {
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
}
.elPagePanel__layout {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;

    will-change: transform;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.hasOpenPagePanel .elPagePanel .isWhenActive   { display:block; }
.hasOpenPagePanel .elPagePanel .isWhenInactive { display:none; }
.hasOpenPagePanel .elPagePanel__layout {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.hasOpenPagePanel .elView__shadow {
    right: 0;
    opacity: 1;
}

/* design */

.cPagePanel__layout {
    width: 300px;
    background-color: #DDD;
}
@media all and (max-width:600px){
    .cPagePanel__layout {
        width: 100%;
    }
}

/*
--------------------------------------------------- design components
*/

.cDcFloatButton .aIcon {
    font-size: 4rem;
}
@media all and (max-width:900px){
    .cDcFloatButton .aIcon {
        font-size: 8vw;
    }
}

.cLayerContrast {
    background-color: #033649;
    color: #E8DDCB;
}
.cLayerContrast .dCaption {
    color: #CDB380;
}
.cLayerContrast--opposition {
    background-color: #031634;
}

/*
Form layout
*/

.cForm {
    max-width: 500px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cForm--asideWrap .cForm {
    max-width: calc( 12.5vw + 500px );
    margin-bottom: 3.1rem;
}
.cForm--asideWrap .field-label {
    display: block;
    width: 12.5vw;
    width: calc( 12.5vw - 1.5rem );
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
@media all and (max-width:900px){
    .cForm--asideWrap .cForm {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .cForm--asideWrap .field {
        flex-wrap: wrap;
    }
    .cForm--asideWrap .field-label {
        width: 100%;
        text-align: left;
        margin-right: 0;
        margin-bottom: .5em;
    }
}

/**/


/**/
