/* app4K css base
v2017.12.14 app4K.4001
*/

/*

# z-index

    11 - aside panels
    12 - fixed menu triggers

*/

/*
--------------------------------------------------- basics
*/

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/*
--------------------------------------------------- integration
*/

.tufteDesign__mama {
    background-color: #fffff8;
    color: #111;
}
.tufteDesign {
    font-size: 1rem;
}
@media (max-width: 900px) {
    .tufteDesign label.margin-toggle {
        color: #0ABFBC;
    }
    .tufteDesign .margin-toggle:checked + .sidenote,
    .tufteDesign .margin-toggle:checked + .marginnote {
        background-color: azure;
    }
}
.tufteDesign--layer article {
    padding-top: 0;
    padding-bottom: 0;
}
.zzzZoomableOverlay {
    z-index:20!important;
}
.zzzZoomableOverlay {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    background-position: right top;
    background-size: 8vw 8vw;
    background-repeat: no-repeat;
}
.zzzZoomed {
    z-index:21!important;
}
.social-likes {
    margin: 0;
}


/*
--------------------------------------------------- atoms
*/

.isWhenActive {
    display: none;
}
.elItem {
    padding: 8px;
}
a.elItem,
span.elItem {
    display: inline-block;
    vertical-align: baseline;
}
.elAntiItem {
    margin-left: -8px;
    margin-right: -8px;
}
.elSection {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
@media (max-width: 900px) {
    .elSection {
        padding-left: 8%;
        padding-right: 8%;
    }
}


/*
--------------------------------------------------- text design
*/

.textDesign h4 {
        font-weight: 400;
        font-size: 1.4em;
        line-height: 1;
        margin-top: 0;
        margin-bottom: .5em;
    }
.textDesign h5 {
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: .5em;
    }
.textDesign p {
        margin-top: 0;
        margin-bottom: 1em;
    }
.textDesign p:last-child {
        margin-bottom: 0;
    }

/* links */

.textDesign a:link,
.textDesign a:visited {
    color: inherit;
}
.textDesign a:link {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .textDesign a:link {
        background-position-y: 87%, 87%, 87%;
    }
}
.textDesign a:link::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}
.textDesign a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}


/*
--------------------------------------------------- interface components
*/

.elView {
    position: relative;
}
/* Shadow overlay */
.elView__shadow {
    background-color: rgba(0,0,0,.5);

    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100%;

    will-change: opacity;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
}

/*
Magic Header
*/

.elMagicHeader
{
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;

    will-change: transform;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.itsTimeForMagicHeader .elMagicHeader {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* design */

.cMagicHeader {
    background-color: #E8DDCB;
    padding: 0 4rem;
    padding-left: 12.5%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
@media all and (max-width:900px){
    .cMagicHeader {
        padding: 0 8vw;
        justify-content: center;
    }
}


/*
Site Panel
*/

.elSitePanel__floatTrigger {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
}
.elSitePanel__layout {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;

    will-change: transform;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.hasOpenSitePanel .elSidePanel .isWhenActive   { display:block; }
.hasOpenSitePanel .elSidePanel .isWhenInactive { display:none; }
.hasOpenSitePanel .elSitePanel__layout {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.hasOpenSitePanel .elView__shadow {
    right: 0;
    opacity: 1;
}

/* design */
.cSitePanel__floatTrigger .aIcon {
    border: 4px solid transparent;
    background-position: center top;
}
.cSitePanel__floatTrigger .isWhenInactive .aIcon {
    will-change: transform;
    transform-origin: 0 0;
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.cSitePanel__floatTrigger.isOnTop .isWhenInactive .aIcon {
    transform: scale(1.5);
}
@media all and (min-width:1200px){
    .cSitePanel__floatTrigger .isWhenInactive .aIcon {
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    .cSitePanel__floatTrigger.isOnTop .isWhenInactive .aIcon {
        margin-left: calc( 12vw - 9rem );
    }
}
.cSitePanel__floatTrigger .aIcon {
    font-size: 6rem;
}
@media all and (max-width:900px){
    .cSitePanel__floatTrigger .aIcon {
        font-size: 8vw;
    }
}
.cSitePanel__layout {
    width: 300px;
    background-color: #BBB;
}
@media all and (max-width:600px){
    .cSitePanel__layout {
        width: 100%;
    }
}


/*
Page Panel
*/

.elPagePanel__floatTrigger {
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
}
.elPagePanel__layout {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;

    will-change: transform;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform .2s ease-in;
    -o-transition: transform .2s ease-in;
    transition: transform .2s ease-in;
}
.hasOpenPagePanel .elPagePanel .isWhenActive   { display:block; }
.hasOpenPagePanel .elPagePanel .isWhenInactive { display:none; }
.hasOpenPagePanel .elPagePanel__layout {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}
.hasOpenPagePanel .elView__shadow {
    right: 0;
    opacity: 1;
}

/* design */

.cPagePanel__layout {
    width: 300px;
    background-color: #DDD;
}
@media all and (max-width:600px){
    .cPagePanel__layout {
        width: 100%;
    }
}


/*
Form layout
*/

.elForm {
    max-width: 500px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.elForm--asideWrap .elForm {
    max-width: calc( 12.5vw + 500px );
    margin-bottom: 3.1rem;
}
.elForm--asideWrap .field-label {
    display: block;
    width: 12.5vw;
    width: calc( 12.5vw - 1.5rem );
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
@media all and (max-width:900px){
    .elForm--asideWrap .elForm {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .elForm--asideWrap .field {
        flex-wrap: wrap;
    }
    .elForm--asideWrap .field-label {
        width: 100%;
        text-align: left;
        margin-right: 0;
        margin-bottom: .5em;
    }
}


/**/
