/* story chapters */
/* 2019.2.16 36week37 */

$one-space: 4*$dim;

.scene {
    @extend .zetka-layer;
    @include has-illustrated-background;
}
.is-invisible {
    opacity: 0;
}
.zetka blockquote {
    @extend .zetka-overmain;
}

.mother-scene {
    @extend .has-v-slices;
    padding-bottom: 4em;
}
        .el-dialog {
            padding:       1em;
            border-radius: 0.5em;
            background-color: hsla(80,54%,52%,1);
            max-width: 64%;
            margin-right: auto;
        }
        .el-dialog--universe {
            justify-self: end;
            margin-right: 0;
            margin-left: auto;
            background-color: hsla(260,54%,72%,1);
        }
        .el-dialog--author {
            background-color: hsla(200,64%,62%,1);
        }

// -----------------------------------------------


.scene-action--what-content-is {
    margin-top: 20vh;
}

// -----------------------------------------------


