/* ==============================================================
    sidepanel
    2019.7.8
============================================================== */

.asidebar {

  --asidebar--background-color: var(--background-color);
  --asidebar--z-index:   100;
  --asidebar--left:      auto;
  --asidebar--right:     0;
  --asidebar--max-width: 38rem;
  --asidebar--transform: translateX(100%);
  --asidebar--timing:    var(--timing-function--focusZoom);

    &.from-westside {
  --asidebar--left:      0;
  --asidebar--right:     auto;
  --asidebar--transform: translateX(-100%);
    }

    position:  fixed;
    z-index:   var(--asidebar--z-index);
    overflow:  visible;
    top:    0;
    right:  0;
    left:   0;
    height: 0;

    &.is-active {
        .asidebar-overlay {
            pointer-events: all;
            opacity:        0.8;
        }
        .asidebar-panel {
          --asidebar--transform: translateX(0);
          --asidebar--timing:    var(--timing-function--focusZoom);
        }
    }
}
.asidebar-overlay {
    position:  fixed;
    z-index:   calc( var(--asidebar--z-index) - 1 );
    background-color: black;
    pointer-events: none;
    top:     0;
    right:   0;
    bottom:  0;
    left:    0;
    opacity: 0;
    transition: opacity 400ms;
}
.asidebar-panel {

    /* design */

    background-color: var(--asidebar--background-color);
    padding: 1em;

    /* layout */

    position:  fixed;
    z-index:   var(--asidebar--z-index);
    top:       0;
    bottom:    0;
    left:      var(--asidebar--left);
    right:     var(--asidebar--right);
    width:     100%;
    max-width: var(--asidebar--max-width);

    @media screen and (max-width: 900px) {
        --asidebar--max-width: 100%;
    }

    /* content behavior */

    overflow: auto;

    /* closed/opened state */

    will-change: transform;
    transform:   var(--asidebar--transform);
    transition:  transform 200ms;
    transition-timing-function: var(--asidebar--timing);
}
.has-active-asidebar {
    overflow: hidden;
}



/* ==============================================================
    fixed sidebar with visible and hidden states
    2019.4.13
============================================================== */

/* USE CASE
    <nav class="sidebar is-active">
        xoxox
    </nav>
*/

//* ------------------------------------ universal shadow overlay

$z-index-shadowOverlay: 2;

// container

%screen-has-shadow-overlay {
    overflow: hidden;
    .screen-shadow-overlay {
        opacity:0.8;
        pointer-events: auto;
        transition: opacity 400ms ease-in;
    }
}
.has-shadow-overlay { @extend %screen-has-shadow-overlay; }

// overlay

.screen-shadow-overlay {
    background-color: black;
    position: fixed;
    z-index: $z-index-shadowOverlay;
    top:    0;
    bottom: 0;
    right:  0;
    left:   0;
    pointer-events: none;
    opacity: 0;
}
/**/

.has-active-sidebar { @extend %screen-has-shadow-overlay; }





//* ------------------------------------ sidebar settings

$z-index-sidebar: 3;
$sidebar__width-limit:               38rem;
$sidebar__remaining-space-limit:     6rem;


//* ------------------------------------ formulas

$a: $sidebar__width-limit;
$b: $sidebar__remaining-space-limit;
$screenNotFullscreenSidebar: 'min-width: #{ $a + $b }';



//* ------------------------------------ sidebar component


.sidebar {
    background-color: black;

    /* is screen fixed */
    position: fixed;
    z-index:  $z-index-sidebar;
    top:    0;
    bottom: 0;
    left:   100%;

    /* has width */
    width:  100%;
    @media screen and ($screenNotFullscreenSidebar) {
        max-width: $sidebar__width-limit;
    };

    /* has unpredictable content */
    overflow: auto;

    /* closed state */
    transform: translateX(0);
    transition: transform 200ms ease-in;

    /* open state */
    &.is-active,
    .has-active-sidebar & {
        transition-timing-function: ease-out;
        transform: translateX(-100%);
    }

}
.sidebar-westside {
    @extend .sidebar;
    left:  auto;
    right: 100%;
    &.is-active,
    .has-active-sidebar & {
        transform: translateX(100%);
    }
}

.eastside {

    background-color: pink;
    color: black;

    /* is screen fixed */
    position: fixed;
    z-index:  3;
    top:      0;
    right:    auto;
    bottom:   0;
    left:     100%;

    /* has width */
    width:  100%;
    @media screen and ($screenNotFullscreenSidebar) {
        max-width: $sidebar__width-limit;
    };

    /* has unpredictable content */
    overflow: auto;

    /* closed state */
    transform: translateX(0);

    /* open state */
    &.is-active {
        transform: translateX(-100%);
    }

}

/* eof sidebar */
