@charset "UTF-8";
/* app v2018.10.22 */
/*
    app settings
    v2018.10.22
*/
/* ------------------------------------ screen sizes */
/* ------------------------------------ system colors */
/* ------------------------------------ fonts */
/* ------------------------------------ other settings */
/* ------------------------------------ tools */
/* ------------------------------------ eof core */
/*
    app grid system
    v2018.10.22

    article - main text collumn with sidenotes
*/
@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic");
* {
  grid-column: main;
}
@supports (grid-gap: 2.4rem) {
  * {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.layer-row, [layer-row], .layout-for-article, [layout-for-article], .wrap-two-sections > *, [wrap-two-sections] > *, .block-right, [block-right], .block-left, [block-left], .block-row, [block-row], .block, [block], .illustration, [illustration], .note, [note], .layer-block, [layer-block], .layout-for-markup, [layout-for-markup] {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  grid-template-columns:  [full-start merge-start overmain-start main-start aside-start]  auto  [full-end merge-end overmain-end main-end aside-end] ;
  align-items: start;
  grid-gap: 2.4rem 0;
}

.design-for-markup dl, [design-for-markup] dl, .wrap-two-sections, [wrap-two-sections], .wrap-two-columns, [wrap-two-columns], .wrap-columns, [wrap-columns] {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2.4rem;
}
.design-for-markup dl > *, [design-for-markup] dl > *, .wrap-two-sections > *, [wrap-two-sections] > *, .wrap-two-columns > *, [wrap-two-columns] > *, .wrap-columns > *, [wrap-columns] > * {
  grid-column: auto;
}
.design-for-markup dl > .is-merged-row, .design-for-markup dl > [is-merged-row], [design-for-markup] dl > .is-merged-row, [design-for-markup] dl > [is-merged-row], .wrap-two-sections > .is-merged-row, [wrap-two-sections] > .is-merged-row, .wrap-two-sections > [is-merged-row], [wrap-two-sections] > [is-merged-row], .wrap-two-columns > .is-merged-row, [wrap-two-columns] > .is-merged-row, .wrap-two-columns > [is-merged-row], [wrap-two-columns] > [is-merged-row], .wrap-columns > .is-merged-row, [wrap-columns] > .is-merged-row, .wrap-columns > [is-merged-row], [wrap-columns] > [is-merged-row] {
  grid-column: 1/span 2;
}
.design-for-markup dl > .divider, .design-for-markup dl > [divider], [design-for-markup] dl > .divider, [design-for-markup] dl > [divider], .wrap-two-sections > .divider, .wrap-two-sections > [divider], [wrap-two-sections] > .divider, [wrap-two-sections] > [divider], .wrap-two-columns > .divider, .wrap-two-columns > [divider], [wrap-two-columns] > .divider, [wrap-two-columns] > [divider], .wrap-columns > .divider, .wrap-columns > [divider], [wrap-columns] > .divider, [wrap-columns] > [divider] {
  grid-column: 1/span 2;
  height: 1.6em;
}
.design-for-markup dl > .divider:before, .design-for-markup dl > [divider]:before, [design-for-markup] dl > .divider:before, [design-for-markup] dl > [divider]:before, .wrap-two-sections > .divider:before, .wrap-two-sections > [divider]:before, [wrap-two-sections] > .divider:before, [wrap-two-sections] > [divider]:before, .wrap-two-columns > .divider:before, .wrap-two-columns > [divider]:before, [wrap-two-columns] > .divider:before, [wrap-two-columns] > [divider]:before, .wrap-columns > .divider:before, .wrap-columns > [divider]:before, [wrap-columns] > .divider:before, [wrap-columns] > [divider]:before {
  display: none;
}

.wrap-two-sections > *, [wrap-two-sections] > *, .block-right, [block-right], .block-left, [block-left], .block-row, [block-row], .block, [block], .illustration, [illustration], .note, [note], .layer-block, [layer-block], .layout-for-markup, [layout-for-markup] {
  grid-template-columns:  [full-start merge-start overmain-start]  2.4rem  [main-start aside-start]  auto  [main-end aside-end]  2.4rem  [full-end merge-end overmain-end] ;
}

.layout-for-article, [layout-for-article] {
  grid-template-columns:  [full-start merge-start overmain-start]  2.4rem  [main-start aside-start]  auto  [main-end aside-end]  2.4rem  [full-end merge-end overmain-end] ;
}
@media (min-width: 901px) {
  .layout-for-article, [layout-for-article] {
    grid-template-columns:  [full-start]  minmax(0, 1fr)  [merge-start overmain-start]  2.4rem  [main-start]  minmax(0, 64rem)  [main-end]  2.4rem  [overmain-end]  2.4rem  [aside-start]  26rem  [aside-end]  2.4rem  [merge-end]  minmax(0, 1fr)  [full-end] ;
  }
}

.layer, [layer] {
  grid-column: full;
}

.layer-row, [layer-row] {
  grid-template-columns: inherit;
  grid-column: full;
}

.layer-block, [layer-block] {
  grid-column: full;
}

.block, [block], .illustration, [illustration], .note, [note] {
  grid-column: overmain;
}

.block-row, [block-row] {
  grid-column: merge;
}

.block-left, [block-left] {
  grid-column: full-start/overmain-end;
}
@media (min-width: 901px) {
  .block-left, [block-left] {
    grid-template-columns:  [full-start]  minmax(0, 1fr)  [merge-start overmain-start aside-start]  2.4rem  [main-start]  minmax(0, 64rem)  [main-end]  2.4rem  [full-end merge-end overmain-end aside-end] ;
  }
}

.block-right, [block-right] {
  grid-column: overmain-start/full-end;
}
@media (min-width: 901px) {
  .block-right, [block-right] {
    grid-template-columns:  [full-start merge-start overmain-start]  2.4rem  [main-start]  minmax(0, 64rem)  [main-end]  2.4rem  [overmain-end]  2.4rem  [aside-start]  26rem  [aside-end]  2.4rem  [merge-end]  minmax(0, 1fr)  [full-end] ;
  }
}

/* ------------------------------------ eof grid */
/*
    base css 1002 Monica De Gennaro
    v2018.10.5
*/
/* ------------------------------------ box model */
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* footer mod */
html {
  height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: flex;
    flex-direction: column;
  }
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
body [role-footer], body .role-footer {
  margin-top: auto;
}

/* ------------------------------------ markup defaults */
*, ::before, ::after {
  background-repeat: no-repeat;
}

nav ul, nav ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

details, article, aside, footer, header, nav, section, main {
  display: block;
}

figure, figcaption, fieldset, legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  white-space: normal;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

[hidden], template {
  display: none;
}

/* ------------------------------------ content defaults */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img, svg {
  display: block;
  border: none;
  max-width: 100%;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

hr {
  min-height: 3rem;
  border: 0;
  background: transparent;
  box-shadow: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* ------------------------------------ end of html base */
/*
    app interface components, 5002
    v2018.10.24
*/
/* ==============================================================
 # Sidebars
============================================================== */
html.has-active-sidebar, html.has-shadow-overlay {
  overflow: hidden;
}
html.has-active-sidebar .screen-shadow-overlay, html.has-shadow-overlay .screen-shadow-overlay {
  opacity: 0.8;
  pointer-events: auto;
}

.screen-shadow-overlay {
  background-color: black;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

/**/
.sidebar {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  overflow: auto;
  transform: translateX(0);
  transition: transform 200ms ease-in;
}
@media (min-width: 44rem) {
  .sidebar {
    max-width: 38rem;
  }
}
.sidebar.is-active, .has-active-sidebar .sidebar {
  transition-timing-function: ease-out;
  transform: translateX(-100%);
}

/**/
.kliker, [kliker] {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
.kliker:hover, [kliker]:hover, .kliker:focus, [kliker]:focus {
  cursor: pointer;
  outline: 1rem solid rgba(168, 220, 217, 0.25);
}

/**/
/* ==============================================================
    body.yiWallpaper
    fixed background, fade when inactive
============================================================== */
.yiWallpaper {
  position: relative;
  z-index: -1;
}
.yiWallpaper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.yiWallpaper, .yiWallpaper:before {
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.yiWallpaper.has-inactive-wallpaper:before {
  transition-duration: 640ms;
  transition-timing-function: ease-out;
  opacity: 0.2;
}

/* */
/* ------------------------------------ eof interface */
/*
    app markup components and shortcuts, 5002
    v2018.10.22
*/
/* ------------------------------------ modifiers */
.bg, [bg], .note, [note] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.bg > .illustration:first-child, .bg > [illustration]:first-child, [bg] > .illustration:first-child, [bg] > [illustration]:first-child, .note > .illustration:first-child, [note] > .illustration:first-child, .note > [illustration]:first-child, [note] > [illustration]:first-child {
  margin-top: -2.4rem;
}

.bg-r, [bg-r] {
  background-color: #f1bcbb;
}

.bg-g, [bg-g] {
  background-color: #dce9be;
}

.bg-b, [bg-b] {
  background-color: #a8dcd9;
}

.bg-t, [bg-t] {
  background-color: transparent;
}

.is-centered, [is-centered] {
  justify-content: center;
  text-align: center;
}

.is-xy-centered, [is-xy-centered] {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.is-merged-row, [is-merged-row] {
  grid-column: main/aside;
}

/* ------------------------------------ wraps */
.wrap-columns, [wrap-columns] {
  grid-auto-flow: column;
}
.design-for-markup .wrap-columns > li + li, .design-for-markup [wrap-columns] > li + li, [design-for-markup] .wrap-columns > li + li, [design-for-markup] [wrap-columns] > li + li {
  margin-top: 0;
  margin-bottom: 0;
}

.wrap-two-columns, [wrap-two-columns] {
  grid-gap: 0 2.4rem;
}

.wrap-two-sections, [wrap-two-sections] {
  grid-column: overmain;
  grid-gap: 2.4rem 0.8rem;
}
.wrap-two-sections > *, [wrap-two-sections] > * {
  margin-top: 0;
  margin-bottom: 0;
}
.design-for-markup .wrap-two-sections > li + li, .design-for-markup [wrap-two-sections] > li + li, [design-for-markup] .wrap-two-sections > li + li, [design-for-markup] [wrap-two-sections] > li + li {
  margin-top: 0;
  margin-bottom: 0;
}
.design-for-markup .wrap-two-sectionsul > li + li, [design-for-markup] .wrap-two-sectionsul > li + li {
  list-style: none;
}

/* ------------------------------------ named components */
.note, [note] {
  grid-column: overmain;
}
@media (min-width: 901px) {
  .note, [note] {
    font-size: 0.8em;
  }
}

.textnote, [textnote] {
  grid-column: aside;
}
@media (min-width: 901px) {
  .textnote, [textnote] {
    font-size: 0.8em;
  }
}

.sidenote, [sidenote] {
  grid-column: overmain;
}
@media (min-width: 901px) {
  .sidenote, [sidenote] {
    grid-column: aside;
    height: 0;
    overflow: visible;
  }
}

.illustration, [illustration] {
  padding-top: 0;
}
.illustration > *, [illustration] > * {
  grid-column: overmain;
}
.illustration figcaption, [illustration] figcaption {
  grid-column: main;
}
@media (min-width: 901px) {
  .illustration figcaption, [illustration] figcaption {
    font-size: 0.8em;
  }
}

.divider, [divider] {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 8rem;
  opacity: 0.2;
}
.divider:before, [divider]:before {
  content: "※ ※ ※";
  font-size: 2em;
}

/* ------------------------------------ eof markup */
/*  # Default design theme
    v2018.10.7

 */
/* Based on Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 */
/* theme wrap */
html {
  font-size: 62.5%;
  line-height: 1.15;
  font-family: serif;
}
@media (max-width: 900px) {
  html {
    font-size: 53.125%;
  }
}
@media (max-width: 382px) {
  html {
    font-size: 46.875%;
  }
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  color: #4a4a4a;
  background-color: #f9f9f9;
}

/* content design */
.design-for-markup, [design-for-markup] {
  /* Pre and Code */
  /* Tables */
  /* Form elements as content */
}
@supports (hanging-punctuation: first) {
  .design-for-markup *, [design-for-markup] * {
    hanging-punctuation: first;
  }
}
.design-for-markup h1, [design-for-markup] h1, .design-for-markup h2, [design-for-markup] h2, .design-for-markup h3, [design-for-markup] h3, .design-for-markup h4, [design-for-markup] h4, .design-for-markup h5, [design-for-markup] h5, .design-for-markup h6, [design-for-markup] h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bolder;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.design-for-markup h1, [design-for-markup] h1 {
  font-size: 2.35em;
  font-weight: 700;
}
.design-for-markup h2, [design-for-markup] h2 {
  font-size: 1.75em;
  font-weight: 700;
}
.design-for-markup h3, [design-for-markup] h3 {
  font-size: 1.25em;
  font-weight: inherit;
}
.design-for-markup h4, [design-for-markup] h4 {
  font-size: 1em;
}
.design-for-markup h5, [design-for-markup] h5 {
  font-size: inherit;
}
.design-for-markup h6, [design-for-markup] h6 {
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
.design-for-markup small, [design-for-markup] small, .design-for-markup sub, [design-for-markup] sub, .design-for-markup sup, [design-for-markup] sup {
  font-size: 75%;
}
.design-for-markup em, [design-for-markup] em {
  opacity: 0.66;
}
.design-for-markup a, [design-for-markup] a {
  color: #2c8898;
}
.design-for-markup a:hover, [design-for-markup] a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}
.design-for-markup ul, [design-for-markup] ul, .design-for-markup ol, [design-for-markup] ol {
  list-style-position: outside;
  padding-left: 0;
}
.design-for-markup li + li, [design-for-markup] li + li {
  margin-top: 0.4em;
}
.design-for-markup li li, [design-for-markup] li li {
  list-style: square;
}
.design-for-markup dl, [design-for-markup] dl {
  grid-gap: 0 0.8rem;
}
.design-for-markup dl dt, [design-for-markup] dl dt, .design-for-markup dl dd, [design-for-markup] dl dd {
  margin: 0;
}
.design-for-markup blockquote, [design-for-markup] blockquote {
  font-style: italic;
  margin-left: 1.5em;
  padding-left: 1em;
  border-left: 3px solid #2c8898;
}
.design-for-markup hr, [design-for-markup] hr {
  min-height: 3.2rem;
}
.design-for-markup pre, [design-for-markup] pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1.2rem 2.4rem;
  overflow-x: auto;
}
@media (max-width: 900px) {
  .design-for-markup pre, [design-for-markup] pre {
    grid-column: overmain;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
.design-for-markup code, [design-for-markup] code {
  font-size: 0.9em;
  padding: 0 0.8rem;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}
.design-for-markup pre > code, [design-for-markup] pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
}
.design-for-markup code, [design-for-markup] code, .design-for-markup kbd, [design-for-markup] kbd, .design-for-markup pre, [design-for-markup] pre, .design-for-markup samp, [design-for-markup] samp {
  font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace;
}
.design-for-markup table, [design-for-markup] table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}
.design-for-markup td, [design-for-markup] td, .design-for-markup th, [design-for-markup] th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}
.design-for-markup button, [design-for-markup] button {
  border: 0;
  box-shadow: none;
  width: 100%;
}

/* named components */
.role-code, [role-code] {
  background-color: #f1f1f1;
  padding: 2.4rem;
  grid-column: overmain;
  border: 0;
  cursor: auto;
}

code.role-code, code[role-code] {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.618em;
}

/* ------------------------------------ end of default_design */
/*
    Required: app_default_design.scss
    Form primitives
*/
.design-for-form {
  /* Normalize */
  /* Buttons, forms and input */
}
.design-for-form button,
.design-for-form input,
.design-for-form optgroup,
.design-for-form select,
.design-for-form textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.design-for-form button,
.design-for-form select {
  text-transform: none;
}
.design-for-form button,
.design-for-form html [type=button],
.design-for-form [type=reset],
.design-for-form [type=submit] {
  -webkit-appearance: button;
}
.design-for-form button::-moz-focus-inner,
.design-for-form [type=button]::-moz-focus-inner,
.design-for-form [type=reset]::-moz-focus-inner,
.design-for-form [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.design-for-form button:-moz-focusring,
.design-for-form [type=button]:-moz-focusring,
.design-for-form [type=reset]:-moz-focusring,
.design-for-form [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.design-for-form fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.design-for-form legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.design-for-form progress {
  display: inline-block;
  vertical-align: baseline;
}
.design-for-form textarea {
  overflow: auto;
}
.design-for-form [type=checkbox],
.design-for-form [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.design-for-form [type=number]::-webkit-inner-spin-button,
.design-for-form [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.design-for-form [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.design-for-form [type=search]::-webkit-search-cancel-button,
.design-for-form [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.design-for-form ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.design-for-form input, .design-for-form textarea {
  border: 1px solid #4a4a4a;
}
.design-for-form input:focus, .design-for-form textarea:focus {
  border: 1px solid #2c8898;
}
.design-for-form textarea {
  width: 100%;
}
.design-for-form .button, .design-for-form button, .design-for-form input[type=submit], .design-for-form input[type=reset], .design-for-form input[type=button] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2c8898;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #2c8898;
  cursor: pointer;
  box-sizing: border-box;
}
.design-for-form .button[disabled], .design-for-form button[disabled], .design-for-form input[type=submit][disabled], .design-for-form input[type=reset][disabled], .design-for-form input[type=button][disabled] {
  cursor: default;
  opacity: 0.5;
}
.design-for-form .button:focus, .design-for-form .button:hover, .design-for-form button:focus, .design-for-form button:hover, .design-for-form input[type=submit]:focus, .design-for-form input[type=submit]:hover, .design-for-form input[type=reset]:focus, .design-for-form input[type=reset]:hover, .design-for-form input[type=button]:focus, .design-for-form input[type=button]:hover {
  background-color: #982c61;
  border-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}
.design-for-form textarea, .design-for-form select, .design-for-form input[type] {
  color: #4a4a4a;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
.design-for-form textarea:focus, .design-for-form select:focus, .design-for-form input[type]:focus {
  border: 1px solid #2c8898;
  outline: 0;
}
.design-for-form input[type=checkbox]:focus {
  outline: 1px dotted #2c8898;
}
.design-for-form label, .design-for-form legend, .design-for-form fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

/* ------------------------------------ end of default_form_design */
body {
  background-color: #fffff8;
  color: #111111;
  font-family: "Vollkorn", et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

/* content design */
@supports (hanging-punctuation: first) {
  .design-for-markup *, [design-for-markup] * {
    hanging-punctuation: first;
  }
}
.design-for-markup h1, [design-for-markup] h1, .design-for-markup h2, [design-for-markup] h2, .design-for-markup h3, [design-for-markup] h3, .design-for-markup h4, [design-for-markup] h4, .design-for-markup h5, [design-for-markup] h5, .design-for-markup h6, [design-for-markup] h6 {
  font-family: inherit;
  line-height: 1.1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.design-for-markup h1, [design-for-markup] h1 {
  font-weight: 400;
  font-size: 4.8rem;
}
.design-for-markup h2, [design-for-markup] h2 {
  font-style: italic;
  font-weight: 400;
  font-size: 3.2rem;
}
.design-for-markup h3, [design-for-markup] h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 2.4rem;
  padding-top: 4.8rem;
}
.design-for-markup header + h3, [design-for-markup] header + h3,
.design-for-markup h2 + h3,
[design-for-markup] h2 + h3,
.design-for-markup h3 + h3,
[design-for-markup] h3 + h3 {
  padding-top: 0;
}
.design-for-markup .subtitle, .design-for-markup [subtitle], [design-for-markup] .subtitle, [design-for-markup] [subtitle] {
  font-style: italic;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

/* ------------------------------------ shortcuts */
[wrap-two-columns][always-equal],
[wrap-two-sections][always-equal] {
  grid-template-columns: 1fr 1fr;
}
