/*
    app markup components and shortcuts, 5002
    v2018.10.22
*/


/* ------------------------------------ modifiers */

.bg {
    @include has-illustrated-background;
    background-color: $color_shadow;
    padding-top:     $margin-def;
    padding-bottom:  $margin-def;
    &>.illustration:first-child {
        margin-top: -$margin-def;
    }
}
.bg-r { background-color: $color_bgRed; }
.bg-g { background-color: $color_bgGreen; }
.bg-b { background-color: $color_bgBlue; }
.bg-t { background-color: transparent; }

.is-centered {
    justify-content: center;
    text-align: center;
}
.is-xy-centered {
    @include contentbox--xy-centered;
    text-align: center;
}
.is-merged-row {
    grid-column: main / aside;
}

/* ------------------------------------ wraps */


.wrap-columns {
    @extend %grid_layout--type-ab;
    grid-auto-flow: column;
    .design-for-markup &>li+li {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.wrap-two-columns {
    @extend %grid_layout--type-ab;
    grid-gap: 0 $margin-def;
}
.wrap-two-sections {
    @extend %grid_layout--type-ab;
    grid-column: overmain;
    grid-gap: $margin-def $dim;
    &>* {
        @extend %grid_layout-for-markup;
        margin-top: 0;
        margin-bottom: 0;
    }
    .design-for-markup &>li+li {
        margin-top: 0;
        margin-bottom: 0;
    }
    .design-for-markup &ul>li+li {
        list-style: none;
    }
}


/* ------------------------------------ named components */

.note {
    @extend .block;
    @extend .bg;
    grid-column: overmain;
    @media ($screenForArticleLayout) {
        font-size: 0.8em;
    }
}
.textnote {
    grid-column: aside;
    @media ($screenForArticleLayout) {
        font-size: 0.8em;
    }
}
.sidenote {
    grid-column: overmain;
    @media ($screenForArticleLayout) {
        grid-column: aside;
        height: 0;
        overflow: visible;
    }
}
.illustration {
    @extend .block;
    padding-top: 0;
    &>*{ grid-column: overmain; }
    figcaption {
        grid-column: main;
        @media ($screenForArticleLayout) {
            font-size: 0.8em;
        }
    }
}
.divider {
    @include contentbox--xy-centered;
    height:  10*$dim;
    opacity: 0.2;
    &:before {
        content: '※ ※ ※';
        font-size: 2em;
    }
}






//--------------------------------------- pending



/* ------------------------------------ eof markup */
