/*
    app grid system
    v2018.10.22
*/

//* ------------------------------------ layout base

* {
    grid-column: main;
    @supports (grid-gap:$margin-def) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

//* ------------------------------------ code constructor

$grid_formula--base:
    unquote(" [full-start merge-start overmain-start main-start aside-start] ")
        auto
    unquote(" [full-end merge-end overmain-end main-end aside-end] ");

$grid_formula--markup:
    unquote(" [full-start merge-start overmain-start] ")
        $margin-def
            unquote(" [main-start aside-start] ")
                auto
            unquote(" [main-end aside-end] ")
        $margin-def
    unquote(" [full-end merge-end overmain-end] ");

$grid_formula--article:
    unquote(" [full-start] ")
        minmax(0,1fr)
            unquote(" [merge-start overmain-start] ")
                $margin-def
                    unquote(" [main-start] ")
                        minmax( 0, $width--text-column )
                    unquote(" [main-end] ")
                $margin-def
            unquote(" [overmain-end] ")
                $margin-def
                    unquote(" [aside-start] ")
                        $width--aside-column
                    unquote(" [aside-end] ")
                $margin-def
            unquote(" [merge-end] ")
        minmax(0,1fr)
    unquote(" [full-end] ");

$grid_formula--article-left-wrapped:
    unquote(" [full-start] ")
        minmax(0,1fr)
            unquote(" [merge-start overmain-start aside-start] ")
                $margin-def
                    unquote(" [main-start] ")
                        minmax( 0, $width--text-column )
                    unquote(" [main-end] ")
                $margin-def
            unquote(" [full-end merge-end overmain-end aside-end] ");

$grid_formula--article-right-wrapped:
    unquote(" [full-start merge-start overmain-start] ")
                $margin-def
                    unquote(" [main-start] ")
                        minmax( 0, $width--text-column )
                    unquote(" [main-end] ")
                $margin-def
            unquote(" [overmain-end] ")
                $margin-def
                    unquote(" [aside-start] ")
                        $width--aside-column
                    unquote(" [aside-end] ")
                $margin-def
            unquote(" [merge-end] ")
        minmax(0,1fr)
    unquote(" [full-end] ");

%grid_layout--base {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    grid-template-columns: $grid_formula--base;
    align-items: start;
    grid-gap: $margin-def 0;
}
%grid_layout-for-markup {
    @extend %grid_layout--base;
    grid-template-columns: $grid_formula--markup;
}
%grid_layout-for-article {
    @extend %grid_layout--base;
    grid-template-columns: $grid_formula--markup;
    @media ($screenForArticleLayout) {
        grid-template-columns: $grid_formula--article;
    }
}

//* ------------------------------------ grid templates

.layout-for-markup {   @extend %grid_layout-for-markup; }
.layout-for-article {  @extend %grid_layout-for-article; }

//* ------------------------------------ grid components

.layer {
    grid-column: full;
}
.layer-row {
    @extend %grid_layout--base;
    grid-template-columns: inherit;
    grid-column: full;
}
.layer-block {
    @extend %grid_layout-for-markup;
    grid-column: full;
}

.block {
    @extend %grid_layout-for-markup;
    grid-column: overmain;
}
.block-row {
    @extend %grid_layout-for-markup;
    grid-column: merge;
}
.block-left {
    @extend %grid_layout-for-markup;
    @media ($screenForArticleLayout) {
        grid-template-columns: $grid_formula--article-left-wrapped;
    }
    grid-column: full-start / overmain-end;
}
.block-right {
    @extend %grid_layout-for-markup;
    @media ($screenForArticleLayout) {
        grid-template-columns: $grid_formula--article-right-wrapped;
    }
    grid-column: overmain-start / full-end;
}



/* ------------------------------------ eof grid */
