/*
    app interface components, 5002
    v2018.10.7
*/

/* ------------------------------------ screen sizes */

$screenMaxSizeForMobile: 600px;
$screenMaxSizeForTablet: 900px;
$screenMaxSizeForXS: 1100px;
$screenMaxSizeForS: 1300px;
$screenMaxSizeForM: 1400px;
$screenMaxSizeForL: 1800px;

$screenForAll: "min-width: 0px";
$screenForXL: "min-width: #{$screenMaxSizeForL + 1}";
$screenForL: "max-width: #{$screenMaxSizeForL}";
$screenNotL: "min-width: #{$screenMaxSizeForL + 1}";
$screenForM: "max-width: #{$screenMaxSizeForM}";
$screenNotM: "min-width: #{$screenMaxSizeForM + 1}";
$screenForS: "max-width: #{$screenMaxSizeForS}";
$screenNotS: "min-width: #{$screenMaxSizeForS + 1}";
$screenForXS: "max-width: #{$screenMaxSizeForXS}";
$screenNotXS: "min-width: #{$screenMaxSizeForXS + 1}";
$screenForTablet: "max-width: #{$screenMaxSizeForTablet}";
$screenNotTablet: "min-width: #{$screenMaxSizeForTablet + 1}";
$screenForMobile: "max-width: #{$screenMaxSizeForMobile}";
$screenNotMobile: "min-width: #{$screenMaxSizeForMobile + 1}";

/* ------------------------------------ font */

$fontSizeSmaller: 0.8em;

/* ------------------------------------ other settings */

$margin-def: 2.4rem;
$width--text-column:  64rem;
$width--aside-column: 32rem;

/* ------------------------------------ grid */

$grid_formula--main:
    unquote(" [main-start] ")
        minmax( 0, $width--text-column )
    unquote(" [main-end] ");

$grid_formula--aside:
    unquote(" [aside-start] ")
        minmax( 0, $width--aside-column )
    unquote(" [aside-end] ");

$grid_formula--menu:
    unquote(" [menu-start] ")
        minmax( 0, $width--aside-column )
    unquote(" [menu-end] ");

$grid_formula--overmain:
    unquote(" [overmain-start] ")
        $margin-def
            $grid_formula--main
        $margin-def
    unquote(" [overmain-end] ");

$grid_formula--full__content:
    unquote(" [full-start] ")
        minmax( 0, 1fr )
            $grid_formula--overmain
        minmax( 0, 1fr )
    unquote(" [full-end] ");

$grid_formula--full__article:
    unquote(" [full-start] ")
        minmax( 0, 1fr )
            $grid_formula--overmain
                $margin-def
            $grid_formula--aside
        minmax( 0, 1fr )
    unquote(" [full-end] ");

$grid_formula--full__page:
    unquote(" [full-start] ")
        minmax( 0, 1fr )
            $grid_formula--menu
                $margin-def
            $grid_formula--overmain
                $margin-def
            $grid_formula--aside
        minmax( 0, 1fr )
    unquote(" [full-end] ");

%grid_layout--base {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: $grid_formula--overmain;
    grid-gap: $margin-def 0;
    @supports (grid-gap:1rem) {
        &>*:not([layer]):not(.layer) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &>* { grid-column: main; }
    &>[layout], &>.layout { grid-column: full; }
    &>[layer], &>.layer { grid-column: full; }
    &>[block], &>.block { grid-column: overmain; }
    &>[role-merge], &>.role-merge { grid-column: overmain; }
}
%grid_layout--content {
    @extend %grid_layout--base;
    grid-template-columns: $grid_formula--full__content;
}
%grid_layout--article {
    @extend %grid_layout--content;
    @media ($screenNotTablet) {
        grid-template-columns: $grid_formula--full__article;
        &>[role-merge], &>.role-merge { grid-column: overmain / span 5; }
        &>[role-sidenote], &>.role-sidenote { grid-column: aside; }
    }
}
[layer], .layer {
    @extend %grid_layout--content;
    grid-template-columns: inherit;
}
[block], .block {
    @extend %grid_layout--base;
}
[role-merge], .role-merge {
    grid-column: full;
    @extend %grid_layout--content;
    grid-template-columns: inherit;
}
[role-sidenote], .role-sidenote {
    @extend %grid_layout--base;
    @media ($screenNotTablet) {
        grid-column: aside;
        position: relative;
        overflow: visible;
        [note], .note {
            position: absolute;
            top:0;
            left:0;
            right:0;
        }
    }
    @media ($screenForTablet) {
        grid-column: full;
        grid-template-columns: $grid_formula--full__content;
    }
}

/* ------------------------------------ modifiers */

[bg], .bg {
    background-color: rgba(0,0,0,0.1);
    padding-top: $margin-def;
    padding-bottom: $margin-def;
    &>[illustration]:first-child, &>.illustration:first-child {
        margin-top: -$margin-def;
    }
}

/* ------------------------------------ components */

[illustration], .illustration {
    grid-column: overmain;
    figcaption {
        padding-left: $margin-def;
        padding-right: $margin-def;
    }
}



[note], .note {
    grid-column: overmain;
    @media ($screenNotMobile) {
        font-size: $fontSizeSmaller;
    }
}

/* page part templates */

[content-layout], .content-layout {
    @extend %grid_layout--content;
}

[article-layout], .article-layout {
    @extend %grid_layout--article;

}
[page-layout], .page-layout {
    @extend %grid_layout--article;
    grid-template-columns: $grid_formula--full__page;
}



