/*  # Default design theme
    v2018.10.7

 */
/* Based on Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 */

$color-blossom: #2c8898;
$color-fade: #982c61;
$color-bg: #f9f9f9;
$color-bg-alt: #f1f1f1;
$color-text: #4a4a4a;
$font-size-base: 1.8rem;
$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;
@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* theme wrap */

html {
    font-size: 62.5%; // So that root size becomes 10px
    @media ($screenForTablet) { font-size: 53.125%; }
    @media (max-width: 382px) { font-size: 46.875%; }
    line-height: 1.15;
    font-family: $font-family-serif;
}
body {
    font-size: $font-size-base;
    // @media (max-width: 684px) { body { font-size: $font-size-base * 0.85; } }
    // @media (max-width: 382px) { body { font-size: $font-size-base * 0.75; } }
    line-height: 1.618;
    color: $color-text;
    background-color: $color-bg;
}

/* content design */

.design-for-markup {

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        @include word-wrap;
    }

    h1 { font-size: 2.35em; }
    h2 { font-size: 2.00em; }
    h3 { font-size: 1.75em; }
    h4 { font-size: 1.5em; }
    h5 { font-size: 1.25em; }
    h6 { font-size: 1em; }

    small, sub, sup { font-size: 75%; }

    hr { border-color: #2c8898; }

    a {
        color: $color-blossom;
        &:hover {
            color: $color-fade;
            border-bottom: 2px solid $color-text;
        }

    }

    ul { padding-left: 1.4em; }
    li+li { margin-top: 0.4em; }

    blockquote {
        font-style: italic;
        margin-left: 1.5em;
        padding-left: 1em;
        border-left: 3px solid $color-blossom;
    }

    /* Pre and Code */

    pre {
        background-color: $color-bg-alt;
        display: block;
        padding: 1.2rem 2.4rem;
        overflow-x: auto;
    }
    @media ($screenForTablet) {
        pre {
            grid-column: overmain;
            padding-left: $margin-def;
            padding-right: $margin-def;
        }
    }

    code {
        font-size: 0.9em;
        padding: 0 0.5em;
        background-color: $color-bg-alt;
        white-space: pre-wrap;
    }

    pre > code {
        padding: 0;
        background-color: transparent;
        white-space: pre;
    }

    code, kbd, pre, samp {
      font-family:
        /* macOS 10.10+ */ Menlo,
        /* Windows 6+ */ Consolas,
        /* Android 4+ */ Roboto Mono,
        /* Ubuntu 10.10+ */ Ubuntu Monospace,
        /* KDE Plasma 5+ */ Noto Mono,
        /* KDE Plasma 4+ */ Oxygen Mono,
        /* Linux/OpenOffice fallback */ Liberation Mono,
        /* fallback */ monospace;
    }

    /* Tables */

    table {
        text-align: justify;
        width: 100%;
        border-collapse: collapse;
    }

    td, th {
        padding: 0.5em;
        border-bottom: 1px solid $color-bg-alt;
    }

}

/* ------------------------------------ end of default_design */
