/*
    app settings
    v2018.10.22
*/

/* ------------------------------------ screen sizes */

$screenMaxSizeForMobile:    600px;
$screenMaxSizeForTablet:    900px;
$screenMaxSizeForXS:       1100px;
$screenMaxSizeForS:        1300px;
$screenMaxSizeForM:        1400px;
$screenMaxSizeForL:        1800px;

$screenForAll:      "min-width: 0px";
$screenForXL:       "min-width: #{$screenMaxSizeForL + 1}";
$screenForL:        "max-width: #{$screenMaxSizeForL}";
$screenNotL:        "min-width: #{$screenMaxSizeForL + 1}";
$screenForM:        "max-width: #{$screenMaxSizeForM}";
$screenNotM:        "min-width: #{$screenMaxSizeForM + 1}";
$screenForS:        "max-width: #{$screenMaxSizeForS}";
$screenNotS:        "min-width: #{$screenMaxSizeForS + 1}";
$screenForXS:       "max-width: #{$screenMaxSizeForXS}";
$screenNotXS:       "min-width: #{$screenMaxSizeForXS + 1}";
$screenForTablet:   "max-width: #{$screenMaxSizeForTablet}";
$screenNotTablet:   "min-width: #{$screenMaxSizeForTablet + 1}";
$screenForMobile:   "max-width: #{$screenMaxSizeForMobile}";
$screenNotMobile:   "min-width: #{$screenMaxSizeForMobile + 1}";

$screenForArticleLayout: $screenNotTablet;
$screenNotArticleLayout: $screenForTablet;

/* ------------------------------------ system colors */

$color_bgRed:    hsla(  1, 66%, 84%,   1);
$color_bgGreen:  hsla( 78, 49%, 83%,   1);
$color_bgBlue:   hsla(177, 42%, 76%,   1);
$color_shadow:   rgba(0,0,0,0.1);

/* ------------------------------------ fonts */

$fontSizeSmaller: 0.8em; // deprecated

/* ------------------------------------ other settings */

$dim: 0.8rem; // dimension unit
$margin-def: 2.4rem;
$margin-overmain: 4.8rem;
$width--text-column:  64rem;
$width--aside-column: 26rem;
$width--aside-column-extended: 32rem;

/* ------------------------------------ tools */

@mixin contentbox--xy-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@mixin contentbox--y-centered {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
@mixin has-illustrated-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



/* ------------------------------------ eof core */
