/* BODY.design */

$design-o-coverBackground: url(../../art/background_cover.png);

.design {

    background-color: black;
    color: white;

    &:not(.yiWallpaper),
    &.yiWallpaper:before {
        background-image: $design-o-coverBackground;
    }

    .design-intro {
        min-height: 58vh;
    }

    .design-document {
        min-height: 100vh;
        background-color: hsl(46, 44%, 87%);
        color: hsl(22, 36%, 34%);
    }

    .design-sidemenu {
        background-color: hsl(202, 100%, 50%);
        color: hsl(202, 90%, 90%);
    }

}
