$colorSwedAccent: hsl(212, 34%, 29%);
$colorSwedAccent--text: white;

$colorSwedDark:   hsl(240, 15%, 12%);
$colorSwedDark--text: hsla(0,0%,100%,0.75);
$colorSwedLight:  hsl(204, 22%, 55%);
$colorSwedMedium: hsl(226, 17%, 20%);

$timing-function--easeInBack:  cubic-bezier(0.600, -0.280, 0.735, 0.045);
$timing-function--easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$timing-function--focusZoom:   cubic-bezier(0.165, 0.84, 0.44, 1);
$timing-function--jumpClose:   $timing-function--easeInBack;
$timing-function--jumpOpen:    $timing-function--easeOutBack;


.design-template--swed {

    background-color: $colorSwedDark;
    color:            $colorSwedDark--text;

    .big-title {
        display:    block;
        font-size:  2em;
    }
    .title {
        display:    block;
        font-size:  1.5em;
    }
    .subtitle {
        @extend .has-sans-text;
    }
}

.swed-screen {
    min-height: 100vh;
    width:      100%;

    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-content:   center;
    align-items:     center;
}

.swed-welcome {

    min-height: 100vh;

    // grid system
    display: grid;
    grid-template-columns:
        auto
        minmax(32vw, min-content);
    grid-template-rows:
        minmax(75vh, max-content)
        auto;
    grid-template-areas:
        'w e'
        's s';
    &>.main { grid-area: w; }
    &>.side { grid-area: e; }
    &>.foot { grid-area: s; }


    @media ($screenForMobile) {
        grid-template-columns: auto;
        grid-template-rows:    auto;
        grid-template-areas:  'w' 'e' 's';
    }


    .head, .foot, .main, .side {
        display:         flex;
        flex-direction:  column;
        justify-content: center;
        align-content:   center;
        align-items:     center;
    }
    .head { background-color: $colorSwedLight; }
    .foot { background-color: $colorSwedMedium; }
    .side { background-color: $colorSwedAccent; }

}

.swed-button {

    // design

    & ,&:link, &:visited, &:active, &:focus, &:hover {
        background-color: white;
        color:            black;
        text-decoration:   none;
        cursor:         default;
    }
    padding: 0.5em 1em;

    // layout

    display: block;
    line-height: 1;
    &>a {
        @extend %link-style-as-inherit;
        cursor: default;
    }

    &::after {
      content:  "";
      position: absolute;
      z-index:  -1;
      top:       0;
      left:      0;
      width:  100%;
      height: 100%;

      opacity: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      transition: inherit;
    }

    // hover effect

    position:    relative;
    will-change: transform;
    transition:  all 0.6s $timing-function--focusZoom;
    &:hover {
        transform: scale(1.25, 1.25);
        z-index: 1;
        &::after { opacity: 1; }
    }
}

.swed-dropdown {

    & {
        position: relative;
        z-index: 0;
    }

    .label {
        position: relative;
        z-index:  1;

        line-height: 1.5;
        padding:
            0.25em 0.5em;

        // has marker

        display:     flex;
        align-items: center;

        &::after {
            content: '';
            display: block;
            width:   1.5em;
            height:  1.5em;
            background-size:  100%;
            background-image: url("data:image/svg+xml,%3Csvg fill%3D%22white%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E %3Cpath d%3D%22M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z%22%2F%3E %3C%2Fsvg%3E");
            transition: transform 240ms;
            transform-origin: center center;
        }
    }
    .droplist {
        pointer-events: none;

        position: absolute;
        z-index:  0;
        top:     -0.25em;
        left:    -0.25em;
        min-width: 100%;

        // background

        &::after {
            background-color: rgba(255,255,255,0.1);

            content:  '';
            position: absolute;
            z-index: -1;
            top:      0;
            right:    0;
            bottom:   0;
            left:     0;

            transform:  scale(0);
            transform-origin: 1em 1em;
            transition: transform 240ms;
            transition-timing-function: $timing-function--easeInBack;
        }

        // content

        &>ul {
            opacity: 0;

            list-style: none;
            margin:     0;
            padding:    0;
            margin-top: 2.5em;
            padding-bottom: 0.5em;

            transition: opacity 240ms ease-out;

            &>li {
                white-space: nowrap;
                padding: 0.25em 0.75em;
                &:hover { background-color: rgba(0,0,0,0.25); }
                &:hover>span,
                &:hover>a {
                    display: block;
                    transform:  translateX(0.25em);
                    transition: transform 240ms ease-in;
                    transition-timing-function: $timing-function--easeOutBack;
                }
            }
        }
    }

    /* display action */

    &.has-hover-action:hover,
    &.is-active {
        .label            { color: hsl(2,45%,65%); }
        .label::after     { transform: rotate(180deg); }
        .droplist         { pointer-events: all; }
        .droplist::after {
            transform: scale(1);
            transition-timing-function: $timing-function--easeOutBack;
        }
        .droplist>ul {
            opacity: 1;
            transition: opacity 240ms ease-in;
        }
    }

    /* usability */

    // transparent hover area around
    &.has-hover-action {
        .droplist::before {
            display:  none;
            content:  '';
            position: absolute;
            z-index: -2;
            top:     -2em;
            right:   -2em;
            bottom:  -2em;
            left:    -2em;
        }
        &:hover .droplist::before { display: block; }
    }

}

.swed-group {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
    &, &>* { margin: 0.5rem; }
}
.focus-group {
    &>* { transition: opacity 320ms ease-out; }
    &:hover>*       { opacity: 0.25; }
    &:hover>*:hover { opacity: 1; z-index: 1; transition-duration: 120ms; }
}
.swed-message {
    font-size:    1.5em;
    max-width:     28em;
    margin-left:   auto;
    margin-right:  auto;
    padding-left:  1rem;
    padding-right: 1rem;
}



.box {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.box:hover::after {
    opacity: 1;
}



.swed-double-sticker-wrap {

    --middle-gap-size: 8em;

    display:    grid;
    margin:   0 auto;
    padding:  0 1rem;
    grid-gap: 0 var(--middle-gap-size);
    grid-template-columns: repeat(2, minmax( 12em, max-content ) );

    &>.swed-sticker {
        align-self: center;
        &::after {
            width: calc( 100% + 0.75*var(--middle-gap-size) );
        }
        &:nth-child(1)::after {
            transform-origin: center right;
        }
        &:nth-child(2)::after {
            transform-origin: center left;
            left:  auto;
            right: 0;
        }
        &:hover {
            &:nth-child(1)::after {
                transform:
                    scale(1, 1.2)
                    translate( calc( 0.25 * var(--middle-gap-size) * (-1) ), -1em);
            }
            &:nth-child(2)::after {
                transform:
                    scale(0.9, 1.2)
                    translate( calc( 0.25 * var(--middle-gap-size) ), -1em);
            }
        }
    }
}
.swed-sticker {

    padding: 1em;
    position: relative;

    &::after {
        content:  "";
        pointer-events: none;
        position: absolute;
        z-index: -1;
        top:    0;
        left:   0;
        width:  100%;
        height: 100%;

        background-color: $colorSwedAccent;
        opacity: 0.25;
        will-change: transform;
        transition: all 800ms $timing-function--jumpOpen;
    }

    &:hover::after {
        transform: scale(0.9, 1.2) translate(-15%,-10%);
    }
}
