/* ==============================================================
    styles for content (excluding typography)
    2018.12.7
============================================================== */


//* ------------------------------------ required


$color_main_shadow: $color_main_shadow; //rgba(0,0,0,0.1);
$screenNotTablet:   $screenNotTablet; // min-width: 901px


//* ------------------------------------ app standarts


.is-centered {
    text-align: center;
    justify-content: center;
}
.is-centered-box {
    /* contentbox--xy-centered */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@media screen and ($screenNotTablet) {
    .is-sticky {
        position: sticky;
        top: 0.5*$dim;
    }
    .is-sticky-box {
        position: sticky;
        top: 0;
    }
}


.chapter { // context divider

    overflow: visible;
    position: relative;
    z-index: 0;

    /* has paddings */
    padding-top:    $margin-def;
    padding-bottom: $margin-def;

    &.is-first  { padding-top:    0; }
    &.is-last   { padding-bottom: 0; }
    &.is-markup {
        padding-top:    0;
        padding-bottom: 0;
    }
}


.div     { display: block; }
.span    { display: inline; }
.spandiv { display: inline-block; vertical-align: middle; }

.box { // for elements with background

    /* has paddings */
    padding-top:    $margin-def;
    padding-bottom: $margin-def;

    /* has illustrated background */
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.pill {
    display: inline-block;
    vertical-align: middle;
    &, a { text-decoration: none; }
    padding-left: 0.4em;
    padding-right: 0.4em;
    white-space: nowrap;
    * { white-space: normal; }
}

.bg { background-color: $color_main_shadow; }

.has-bg {
    /* has illustrated background */
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.has-hidden-text {
    /* has visually hidden text content */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}





//* ------------------------------------ extra features


[bg]        { @extend .bg; }
[div]       { @extend .div; }
[span]      { @extend .span; }
[spandiv]   { @extend .spandiv; }

[big-title] { @extend .big-title; }
[min-title] { @extend .min-title; }
[title]     { @extend .title; }
[subtitle]  { @extend .subtitle; }

[chapter] {
    @extend .chapter;
    @extend .grid;
}
[layer]     { @extend .layer; }
[block]     { @extend .block; }
[aside]     { @extend .aside; }
[image]     { @extend .illustration; }



//* ------------------------------------ PENDING

.chapter-slide-header {
    /* is fixed */
    position: relative;
    position: sticky;
    z-index: -1;
    top:      0;
    &:before {
        content: '';
        /* is fullscreen back */
        position: absolute;
        z-index: -2;
        top:    0;
        right:  0;
        left:   0;
        height: 100vh;
        /* has illustrated background */
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
    }
}

/* eof styles for content */
