/* ==============================================================
    design template - content markup
    2018.12.7
============================================================== */


//* ------------------------------------ required


$dim: $dim; // 0.8rem;
$margin-less: $margin-less; // 2*$dim;

$screenForXS:     $screenForXS;     // max-width: 1100px
$screenNotTablet: $screenNotTablet; // min-width: 901px


//* ------------------------------------ settings


$font-list-for-design-template:
    Vollkorn,
    et-book,
    Palatino,
    "Palatino Linotype",
    "Palatino LT STD",
    "Book Antiqua",
    Georgia,
    serif;
$font-list-for-content-table:
    "Trebuchet MS",
    "Gill Sans",
    "Gill Sans MT",
    sans-serif;

$color_main_back:      hsl(60, 100%, 98.6%);
$color_main_front:     hsl(0, 0%, 6.7%);


//* ------------------------------------ body design


html { font-size: 20px; }
@media screen and ($screenForXS) {
    html { font-size: 10px; }
}

body {
    background-color: $color_main_back;
    color:            $color_main_front;
    font-family:      $font-list-for-design-template;
    font-weight:      400;

    /* 16/28 */
    font-size:   16px;
    line-height: 1.75;
}


//* ------------------------------------ design base


.design-template {

    * {
        @supports (hanging-punctuation:first) {
            hanging-punctuation: first;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
        font-weight: 400;
    }
    h1, .big-title {
        /* 40/48 */
        font-size:   2.5em;
        line-height: 1.2;
    }
    h2, .title {
        /* 32/40 */
        font-size:   2em;
        line-height: 1.25;
    }
    h3, .min-title {
        /* 24/28 */
        font-size:   1.5em;
        line-height: 1.16666666667;
    }
    .has-text-accent {
        /* 24/36 */
        font-size:   1.5em;
        line-height: 1.5;
    }
    .aside {
        /* 14/24 */
        font-size:   0.875em;
        line-height: 1.714285;
    }

    h2, .title,
    h3, .min-title {
        font-style:  italic;
    }

}


//* ------------------------------------ app interface design


.design-template {

    h2, .title {
        padding-top: 1*$dim;
    }

    .box {
        @media screen and ($screenNotTablet) {
            /* has visualy equal paddings */
            padding-top:    $margin-less;
            padding-bottom: $margin-less;
        }
    }

}

/* eof design template */
