/* content markup */
/* 2018.12.5 */

//* ------------------------------------ required


$dim: $dim; // 0.8rem;
$margin-less: $margin-less; // 2*$dim;



//* ------------------------------------ settings


$font-list-for-design-template:
    Vollkorn,
    et-book,
    Palatino,
    "Palatino Linotype",
    "Palatino LT STD",
    "Book Antiqua",
    Georgia,
    serif;

$color_main_back:      hsl(60, 100%, 98.6%);
$color_main_front:     hsl(0, 0%, 6.7%);

//* ------------------------------------ constructor


@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


//* ------------------------------------ body design


body {
    background-color:     $color_main_back;
    color:                $color_main_front;
    font-family:          $font-list-for-design-template;
    font-weight: 400;
    font-size:   1.6rem;
    line-height: 1.5;
}


//* ------------------------------------ app interface design





//* ------------------------------------ content design


.design-template {

    * {
        @supports (hanging-punctuation:first) {
            hanging-punctuation: first;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
        @include word-wrap;
    }
    h1, .big-title {
        font-weight: 400;
        font-size:   4rem;
        line-height: 1.2;
    }
    h2, .title {
        padding-top: 1*$dim;

        font-style:  italic;
        font-weight: 400;
        font-size:   3.2rem;
        line-height: 1.25;
    }
    h3 {
        font-style:  italic;
        font-weight: 400;
        font-size:   2.4rem;
        line-height: 1;
    }
    .subtitle {
        font-style:  normal;
    }
    .text-accent {
        font-weight: 400;
        font-size:   2.4rem;
        line-height: 1.5;
    }
    .box {
        /* has visualy equal paddings */
        padding-top:    $margin-less;
        padding-bottom: $margin-less;
    }
    .aside {
        font-size: 0.8em;
    }
}