div#footer {border-top:#000 1px solid; padding:2px 48px;color:#666;font-family:arial,tahoma,sans-serif;font-size:.8em;}
div#footer div.lnk {float:right;}
div#footer div.lnk a {color:#666;text-decoration:underline;}
