    [display-source] {
        display:     block;
        font-family: monospace;
        white-space: pre-wrap;
        padding:     0 1em 2em 1em;
        }
    [display-text] {
        display:     block;
        font-family: monospace;
        white-space: pre-wrap;
        }
    .box {
      --sx:           1rem;
        display:      grid;
        padding:      var(--sx);
        grid-row-gap: var(--sx);
    }

/** -------------------------------- Box model */

    *,*:before,*:after { box-sizing:border-box }

    html {
        margin:     0;
        padding:    0;
        width:      100%;
        height:     100%; }
    body {
        margin:     0;
        padding:    0;
        width:      100%;
        min-height: 100%; }

/** -------------------------------- Fixes from 2019 */

    /* Screen document style */
    html {
        scroll-behavior: smooth;
        cursor: default;
    }
    body {
        overflow-y: scroll;
    }

    /* Single taps are dispatched immediately on clickable elements */
    a, area, button, input, label, select, summary, textarea, [tabindex] {
    -ms-touch-action: manipulation;
        touch-action: manipulation; }

/** -------------------------------- Markup ZL.2020 */

    P, H1, H2, H3, H4, H5, H6 {
        margin:  0;
        padding: 0;
        max-width:   42em;
        font-weight: normal;
    }
    P {
        font-size:   100%;
        line-height: calc(24/16);
    }
    H1 {
        font-size:   400%;
        line-height: calc(80/64);
    }
    H2 {
        font-size:   300%;
        line-height: calc(64/48);
    }
    H3 {
        font-size:   225%;
        line-height: calc(48/36);
    }
    H4 {
        font-size:   150%;
        line-height: calc(32/24);
    }
    H5 {
        font-size:   125%;
        line-height: calc(24/20);
    }
    H6 {
        font-size:   100%;
        line-height: calc(24/16);
    }

    FIGURE, IMG, SVG {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }

    HR {
        background: transparent;
        box-shadow: none;
        border:  0;
        margin:  0;
     /* Empty space marker */
        display:    block;
        font-size:  inherit;
        height:     2.5rem;
    }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Color Model ZL.2020 */

    .use-colors {
      --background-color: var(--back-color);
      --color:            var(--text-color);
        background-color: var(--background-color);
        color:            var(--color);
    }

    .colors--base {
      --back-color:       white;
      --back-color-more:  white;
      --back-color-less:  white;

      --text-color:       black;
      --text-color-more:  black;
      --text-color-less:  black;

      --link-color:       firebrick;
      --link-color-more:  firebrick;
      --link-color-text:  white;
    }
    .colors--swed {
      --back-color:       hsl(226, 15%, 12%); /* NobleBlack */
      --back-color-more:  hsl(212, 34%, 29%); /* NobleSea */
      --back-color-less:  hsl(226, 17%, 20%); /* NobleNight */

      --text-color:       hsl(226, 27%, 90%); /* NobleWhite */
      --text-color-more:  hsl(226, 32%, 75%); /* NobleDay */
      --text-color-less:  hsl(226, 32%, 66%);

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  Typography */


:root {
  --font-family--tufte-serif:
        Vollkorn,
        et-book,
        Palatino,
       "Palatino Linotype",
       "Palatino LT STD",
       "Book Antiqua",
        Georgia,
        serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--tufte-sans:
       "Trebuchet MS",
       "Gill Sans",
       "Gill Sans MT",
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    line-height: var(--line-height, 1.5);
    font-family: var(--font-family, sans-serif);
    font-weight: var(--font-weight, normal);
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

