:root {
  --side-size: 24vh;
  --plate-size: 60vh;
}
.PlateWrap {
    width: 100%;
    height: 100vh;
}
.PlateWrap {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'header header header'
        'itemsA plateA itemsB'
        'itemsA plateB itemsB'
        'footer footer footer';
    grid-template-columns:
        var(--side-size) auto var(--side-size);
    grid-template-rows:
        max-content
        var(--plate-size)
        auto
        max-content;
}
.PlateWrap > header { grid-area: header; }
.PlateWrap > footer { grid-area: footer; }
.PlateWrap >.itemsA { grid-area: itemsA; }
.PlateWrap >.itemsB { grid-area: itemsB; }
.PlateWrap >.plateA { grid-area: plateA; }
.PlateWrap >.plateB { grid-area: plateB; }

.PlateWrap .plateA .items img,
.PlateWrap figure img {
    border-radius: 50%;
    border: 8px solid var(--link-color);
}

.PlateWrap figure.selected {
    opacity: 0.25;
}
.PlateWrap figure img {
  --timing-function--openJump:  cubic-bezier(0.175,  0.885, 0.320, 1.275);
    transition: transform 400ms var(--timing-function--openJump);
}
.PlateWrap figure:hover img {
    transform: scale(1.2)
}
.PlateWrap .plateA {
    position: relative;
}
.PlateWrap .plateA .items>* {
  --x:0;
  --y:0;
  --radius:5vh;
    position: absolute;
    top:calc(50% - var(--radius));
    left:calc(50% - var(--radius));
    width: calc(2*var(--radius));

    opacity: 0;
    transition: opacity 400ms var(--timing-function--openJump);
    transform:
        translate(
            calc( var(--x)*1vh ),
            calc( var(--y)*1vh )
        )
}
.PlateWrap .plateA .items>*.selected {
    opacity: 1;
}

.PlateWrap .plateA>img {
    max-height: 100%;
    margin: 0 auto;
}

.PlateWrap .features {

}
.PlateWrap .features>* {
    display: flex;
    gap: 1rem;
    align-content: center;
    align-items: center;
}
.PlateWrap .features h4 {
    width: 7.5rem;
}
.FeatureValue {
  --VALUE: 0;
  --background-color: var(--link-color);
    height: 1rem;
    width: calc( 10px * var(--VALUE) );
    background-color: var(--background-color);
    border-radius: 4px;
}
.FeatureValue.FeatureValueA {
  --background-color: hsl(202, 36%, 60%);
}
.FeatureValue.FeatureValueB {
  --background-color: hsl( 13, 61%, 54%);
}
.FeatureValue.FeatureValueC {
  --background-color: hsl(179, 60%, 35%);
}

.featureA { --feature-color: hsl(202, 36%, 60%); --feature-value: 75; }
.featureB { --feature-color: hsl( 13, 61%, 54%); --feature-value: 60; }
.featureC { --feature-color: hsl(179, 60%, 35%); --feature-value: 20; }
.featureA { --feature-color2: hsla(202, 36%, 60%, 0.15); }
.featureB { --feature-color2: hsla( 13, 61%, 54%, 0.15); }
.featureC { --feature-color2: hsla(179, 60%, 35%, 0.15); }
.f-bar {
    height: 1rem;
    margin: 0.25rem 0;
    max-width: calc(100% - 8rem);
    background-color: var(--feature-color2);
    border-radius: 8px;
    flex-grow:1;
    position: relative;
}
.f-bar-current {
    height: 100%;
    width: calc( 1% * var(--value) );
    border-radius: 6px;
    background-color: var(--feature-color);
}
.f-bar-target {
    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 1;
    background-image: url(../art/plate-item.svg);
    background-size: cover;
    top: -1.5rem;
    left: calc( 1% * var(--feature-value) - 1.5rem );
}
