<!doctype html>
<html>
<header>
<title>eff.lib.int</title>
<meta charset="utf-8">
</header>
<body>

<div class="cnt">

  <h3>INTEA Effects Library, v001</h3>


  <h4>How to show next slide</h4>
  <ul>
    <li>
      <a href="http://tympanus.net/Development/PageTransitions/" preview="001.PNG">Page Transitions</a>
      (constructor for simple transitions)
    <li>
      <a href="http://tympanus.net/Tutorials/FullscreenBookBlock/" preview="002.PNG">Like a paper pageflip</a>
    <li>
      <a href="http://tympanus.net/Tutorials/MediumStylePageTransition/#1" preview="003.PNG">Medium Style Page Transition</a>
      (scroll down and press next chapter cover)
    <li>
      <a href="http://tympanus.net/Development/TripleViewLayout/" preview="004.PNG">Triple View Layout</a>
    <li>
      <a href="http://tympanus.net/Development/ThumbnailGridAnimations/index3.html"  preview="005.PNG">Falling objects</a>
      (use circle-pager to view effect)
  </ul>

  <h4>How to show menus</h4>
  <ul>
    <li>
      <a href="http://tympanus.net/Development/SidebarTransitions/" preview="006.PNG">Sidebar Transitions</a>
    <li>
      <a href="http://tympanus.net/Development/PerspectivePageViewNavigation/" preview="007.PNG">Perspective Page View Navigation</a>
      (choose effect and press orange «show menu» button)
  </ul>  

  <h4>How to dropdown something</h4>
  <ul>
    <li>
      <a href="http://tympanus.net/Development/SimpleDropDownEffects/index3.html" preview="008.PNG">Nice drop down menu</a>
      (choose a weather condition)
    <li>
      <a href="http://dabblet.com/gist/3979221/cb69c5e8ccf0745fff2c94b47b27b108931f1a15" preview="009.PNG">Circular Navigation 1</a>
      (press gray star at right field)
    <li>
      <a href="http://tympanus.net/Tutorials/CircularNavigation/index2.html" preview="010.PNG">Circular Navigation 2</a>
  </ul>

  <h4>Popups are cool!</h4>
  <ul>
    <li>
      <a href="http://tympanus.net/Development/ModalWindowEffects/" preview="011.PNG">Modal Window Effects</a>
      (amazing summonings for popups)
    <li>
      <a href="http://tympanus.net/Development/FullscreenOverlayStyles/index11.html" preview="012.PNG">Various fullsize popups</a>
    <li>
      <a href="http://tympanus.net/Tutorials/AnimatedBorderMenus/index6.html" preview="013.PNG">Animated Border Menus: Demo 6</a>
      (designed for video, useful for anything)
    <li>
      <a href="http://www.starplugins.com/cloudzoom/examples" preview="014.PNG">Zoom image</a>
  </ul>

  <h4>Form elements</h4>
  <ul>
    <li>
      <a href="http://tympanus.net/Tutorials/NaturalLanguageForm/" preview="015.PNG">Natural Language Form</a>
      (good idea for quiz)
    <li>
      <a href="http://designmodo.github.io/Flat-UI/#" preview="016.PNG">Flat UI KIT</a>
      (customable preset for quick use)
    <li>
      <a href="http://harvesthq.github.io/chosen/" preview="017.PNG">Chosen Plugin</a>
      (the way to improove default form elements)
    <li>
      <a href="http://codepen.io/mohamednossair/pen/hqfzC" preview="12-float-labels-css-effect.jpg">Captions for fields in form</a>
    <li>
      <a href="http://codepen.io/expertcoder/pen/ljyga" preview="01-css3-checkbox-styles-example-codepen.jpg">Checkbox Styles</a>
    <li>
      <a href="http://codepen.io/andreasstorm/pen/peCbd" preview="04-checkbox-yes-no-codepen.jpg">Yes/No Button</a>
    <li>
      <a href="http://codepen.io/yesilfasulye/pen/LmIlw" preview="07-settings-panel-list-ui-design.jpg">Yes/No radio buttons</a>
    <li>
      <a href="http://dropthebit.com/demos/fancy_input/fancyInput.html" preview="140413-fancyinput.PNG">Fancy Input Text</a>
  </ul>

  <h4>Other elements</h4>
  <ul>
    <li>
      <a href="http://h5bp.github.io/Effeckt.css/" preview="140413-list.PNG">Large list of various effects</a>
    <li>
      <a href="http://daneden.github.io/animate.css/" preview="140413.PNG">Animate some captions</a>
      (tada tada ruberBand)
    <li>
      <a href="http://ianlunn.github.io/Hover/" preview="140413-hoverbuttons.PNG">Hover effects on buttons</a>
  </ul>


  <h4>Various galleries</h4>
  <ul>
    <li>
      <a href="http://tympanus.net/Development/ItemTransitions/" preview="018.PNG">Item Transition Inspiration</a>
    <li>
      <a href="http://koulikov.com/wp-content/uploads/2012/10/windy/index3.html" preview="019.PNG">Beautiful scrollbar</a>
    <li>
      <a href="http://tympanus.net/Development/ElasticStack/" preview="020.PNG">Drag away</a>
  </ul>


  <h4>Something else</h4>
  <ul>
    <li>
      <a href="http://codepen.io/noeldelgado/pen/pGwFx" preview="021.PNG">Dice menu</a>
    <li>
      <a href="http://tympanus.net/Development/ProgressButtonStyles/" preview="022.PNG">Progress Button Styles</a>
      (various vizualizations for progress bars)
    <li>
      <a href="http://gridster.net/" preview="023.PNG">Gridster draggable blocks</a>
    <li>
      <a href="http://dmauro.github.io/Keypress/" preview="024.PNG">Keypress</a>
  </ul>

</div>

<div id="preview"><img src=""></div>
<style>
a
{
  display:inline-block;
  font-size:1.4em;
  text-decoration:none;
}
li { padding-bottom:8px; }
h4 { font-size:1.4em; font-weight:normal; }
#preview
{
  display:none;
  position:absolute;
  top:12px;
  left:12px;
  border:8px lightgray solid;
}
#preview img
{
  width:400px;
  vertical-align:middle;
}
.mini { width:40px; }
.cnt { padding-left:440px; padding-bottom:440px; }
</style>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function(){
  $('[preview]').each(function(){ $(this).prepend('<img src="preview/'+$(this).attr('preview')+'" class="mini"> '); });
  $('[preview]').mouseenter(function(){
    var img = 'preview/' + $(this).attr('preview');
    $('#preview > img').attr('src',img);
    var top = $(this).offset().top - 20;
    $('#preview').css('top', top + 'px' );
    $('#preview').show();
  });
  $('[preview]').mouseleave(function(){
    $('#preview').hide();
  });
});
</script>
</body>
</html>