/* ==============================================================
    base html markup
    2019.1.23
============================================================== */


$dim: $dim; // 0.8rem;
$margin-less: $margin-less; // 2rem
$margin-def:  $margin-def; // 3.2rem


/* ------------------------------------ minimal box model */


*, *:before, *:after     { box-sizing: inherit;    }
html                     { box-sizing: border-box; height: 100%; }
html, body               { margin: 0; padding: 0;  }


/* ------------------------------------ basic unit & font sizes */


html { font-size: 10px; }
body { font-size: 16px; line-height: 1.5; }


/* ------------------------------------ improve design & UX */


html    { cursor: default; }
body    { overflow-y: scroll; }
// UX: Single taps are dispatched immediately on clickable elements
a, area, button, input, label, select, summary, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}


/* ------------------------------------ avoid visual errors */


img, svg { max-width: 100% }
canvas   { display: inline-block; }


/* ----------------- use semantic markup without browser`s design */


nav ul, nav ol, ul.nav, ol.nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
figure, figcaption, fieldset, legend {
    display: block;
    margin:  0;
    padding: 0;
    border:  0;
    white-space: normal;
}
article, section, header, footer, main, aside, nav, details { display: block; }
summary { display: list-item; }


//* ------------------------------------ html standarts


h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol {
    margin:  0;
    padding: 0;
}
a {
    color: inherit;
    background-color: transparent;
    text-decoration: underline;
}
ul, ol {
    margin-left:  1.5em;
}
hr {
    border: 0;
    background: transparent;
    box-shadow: none;

    /* use as visual spacer */
    display:    block;
    font-size:  inherit;
    min-height: 1.5em;
}
figure {
    display: block;
    padding: 0;
    margin:  0;
}
img {
    display: inline-block;
    vertical-align: middle;
    border:    none;
    max-width: 100%;
}
svg {
    display: inline-block;
    vertical-align: middle;
    border:    none;
    max-width: 100%;
}
table {
    * {
        text-align:     left;
        vertical-align: top;
    }
    td {
        padding-top:    1*$dim;
        padding-bottom: 1*$dim;
    }
}
[hidden], .hidden { display: none!important; }


//* ------------------------------------ minimal form-item

$form-space-vertical-padding:   0.25em;
$form-space-horizontal-padding: 0.25em;


%form-item {
    /* has rows */
    display:         flex;
    flex-direction:  column;
    flex-wrap:       nowrap;
    justify-content: flex-start;
    align-items:     stretch;
    align-content:   center;
    &>*     { order: 3 }
    &>label { order: 1 }
    &>input { order: 2 }
}
.form-item     { @extend %form-item; }
.form-textarea { @extend %form-item; }
.form-submit   { @extend %form-item; }

label {
    display: block;
    padding: 0 $form-space-horizontal-padding;
}
input {
    display: block;
    width:   100%;
    padding: $form-space-vertical-padding $form-space-horizontal-padding;

    /* default font */
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
}
textarea {
    display: block;
    width:   100%;
    padding: $form-space-horizontal-padding;
    resize:  vertical;

    /* default font */
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
}
button, .button, .is-button {
    display:  inline-block;
    vertical-align: middle;
    padding: $form-space-vertical-padding $form-space-horizontal-padding;

    /* default font */
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
}

/* ------------------------------------------ univeral helpers */

$margin-less: $margin-less; // 2rem
$margin-def:  $margin-def; // 3.2rem

.is-centered { text-align: center; justify-content: center; }

.is-v-centered      { align-self: center; }
.has-v-centered>*   { align-self: center; }

.is-v-equal         { align-self: stretch; }
.has-v-equal>*      { align-self: stretch; }

.has-v-slices       { grid-row-gap: 0; }

.is-v-spaced {
    margin-top:    $margin-less;
    margin-bottom: $margin-less;
}
.is-v-padded {
    padding-top:    $margin-def;
    padding-bottom: $margin-def;
}

.is-box {
    padding-top:    $margin-less;
    padding-bottom: $margin-less;
    background-color: rgba(0,0,0,0.1);
}

//* ------------------------------------ universal shadow overlay

$z-index-shadowOverlay: 2;

// container

%screen-has-shadow-overlay {
    overflow: hidden;
    .screen-shadow-overlay {
        opacity:0.8;
        pointer-events: auto;
    }
}
.has-shadow-overlay { @extend %screen-has-shadow-overlay; }

// overlay

.screen-shadow-overlay {
    background-color: black;
    position: fixed;
    z-index: $z-index-shadowOverlay;
    top:    0;
    bottom: 0;
    right:  0;
    left:   0;
    pointer-events: none;
    opacity: 0;
}
/**/


/* eof base html markup */
