// colors

$color_main_back:  white;
$color_main_front: black;

// slices

$z-index-sidebar:                    3;
$z-index-shadowOverlay:              2;

// paddings

$dim:         0.8rem;
$margin-def:  2.4rem;
$margin-less: 1.6rem;
$margin-half: 0.50*$margin-def;

/* ------------------------------------ screen sizes */

// last update: spring 2018

$screenMaxSizeForMobile:    600px;
$screenMaxSizeForTablet:    900px;
$screenMaxSizeForXS:       1100px;
$screenMaxSizeForS:        1300px;
$screenMaxSizeForM:        1400px;
$screenMaxSizeForL:        1800px;

$screenForAll:      "min-width: 0px";
$screenForXL:       "min-width: #{$screenMaxSizeForL + 1}";
$screenForL:        "max-width: #{$screenMaxSizeForL}";
$screenNotL:        "min-width: #{$screenMaxSizeForL + 1}";
$screenForM:        "max-width: #{$screenMaxSizeForM}";
$screenNotM:        "min-width: #{$screenMaxSizeForM + 1}";
$screenForS:        "max-width: #{$screenMaxSizeForS}";
$screenNotS:        "min-width: #{$screenMaxSizeForS + 1}";
$screenForXS:       "max-width: #{$screenMaxSizeForXS}";
$screenNotXS:       "min-width: #{$screenMaxSizeForXS + 1}";
$screenForTablet:   "max-width: #{$screenMaxSizeForTablet}";
$screenNotTablet:   "min-width: #{$screenMaxSizeForTablet + 1}";
$screenForMobile:   "max-width: #{$screenMaxSizeForMobile}";
$screenNotMobile:   "min-width: #{$screenMaxSizeForMobile + 1}";

/**/


/* ------------------------------------ system colors */

$color_bgRed:    hsla(  1, 66%, 84%,   1);
$color_bgGreen:  hsla( 78, 49%, 83%,   1);
$color_bgBlue:   hsla(177, 42%, 76%,   1);
$color_shadow:   rgba(0,0,0,0.1);

/**/
