/* ==============================================================
    Regular Icons
    Native CSS Version
    2019.6.26

    Issue:
    Replace fill='black' for other colors

============================================================== */

.has-icon::before {
    content: '';
    display: inline-flex;
    line-height:    inherit;
    vertical-align: middle;
    width:  1.5em;
    height: 1.5em;
    margin-right: 0.25em;
    background-repeat:   no-repeat;
    background-position: 50% 50%;
    background-size:     contain;
    background-image:    var(--icon-image);
}
.has-icon {
    --icon-image: none;
}
.has-icon.email {
    --icon-image: url("data:image/svg+xml,%3Csvg fill='black' width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z'/%3E%3C/svg%3E");
}

/* EOF Regular Icons */
