/* app interface components, 5001

    # List
    [basic elements]
    [helpers]
    yiWallpaper
    yiSidemenu

    # Updated 2018.8.26
*/
/* ==============================================================
    block model
    properties for basic elements
============================================================== */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; }

img, svg {
  max-width: 100%; }

/* */
/* ==============================================================
    helpers
============================================================== */
.layer {
  margin: 0; }
  .layer:before {
    content: '';
    display: table; }

.grid, .grid .illustration {
  display: grid;
  grid-template-columns:  [full-start] minmax(0, 1fr)   [over-start] minmax(1rem, 2rem)   [main-start] minmax(0, 38em)   [main-end]   minmax(1rem, 2rem)   [over-end]   minmax(0, 1fr)   [full-end]; ; }
.grid > *, .grid .illustration .textcontent {
  grid-column: main; }
.grid .layer, .grid .illustration > * {
  grid-column: full; }
.grid .illustration {
  grid-column: over;
  margin: 0; }

.illustration-wide {
  object-fit: cover; }

/* */
/* ==============================================================
    body.yiWallpaper
    fixed background, fade when inactive
============================================================== */
.yiWallpaper {
  position: relative;
  z-index: -1; }
  .yiWallpaper:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 1;
    transition: opacity 200ms ease-in; }
  .yiWallpaper, .yiWallpaper:before {
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; }
  .yiWallpaper.has-inactive-wallpaper:before {
    transition-duration: 640ms;
    transition-timing-function: ease-out;
    opacity: 0.2; }

/* */
/* ==============================================================
    .yiSidemenu
    hidden panel
============================================================== */
.yiSidemenu {
  position: fixed;
  z-index: 13;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  max-width: 38rem;
  transform: translateX(0);
  transition: transform 200ms ease-in; }
  .has-open-sidemenu .yiSidemenu {
    transition-timing-function: ease-out;
    transform: translateX(-100%); }

.yiSidemenu__shadowOverlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 12;
  left: 100%;
  top: 0;
  bottom: 0;
  right: 0; }
  .has-open-sidemenu .yiSidemenu__shadowOverlay {
    left: 0; }

/* */
/* ==============================================================
    .pathdance-svg
    svg path animation support
============================================================== */
.pathdance-svg .pathdance-step:not(.step0) {
  display: none; }

/* */

/*# sourceMappingURL=app_interface.css.map */
