/* APP AVANT GARDE primary css rules */

/*
    base css 1002 Monica De Gennaro
    v2019.1.28
*/

/* ------------------------------------ app defaults */

*, *:before, *:after {
    box-sizing: inherit;
    background-repeat: no-repeat;
}
html {
    box-sizing: border-box;
    height: 100%;
}
body {
    overflow-y: scroll;
}
img, svg { max-width: 100%; }

/* EOF: avant garde */
