/* app scss constructor - mixins and templates*/
/* 2018.12.5 */
/* EOF: app scss constructor */
/* Required settings app6002  */
/* 2018.12.5 */
/* ------------------------------------ screen sizes */
/* EOF: Required settings */
/* html base css 1004 */
/* 2018.12.5 */
/* ------------------------------------ minimal box model */
*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%; }

html, body {
  margin: 0;
  padding: 0; }

/* ------------------------------------ unit & font sizes */
html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  line-height: 1.5; }

/* ------------------------------------ improve design & UX */
html {
  cursor: default; }

body {
  overflow-y: scroll; }

canvas {
  display: inline-block; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/* ----------------- use semantic markup without standart design */
article, section, header, footer, main, aside, nav, details {
  display: block; }

[hidden] {
  display: none !important; }

summary {
  display: list-item; }

nav ul, nav ol {
  padding: 0;
  margin: 0;
  list-style-type: none; }

figure, figcaption, fieldset, legend {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: normal; }

/* ------------------------------------ EOF: html base */
/* ==============================================================
 # box model for HTML & BODY
============================================================== */
/* ------------------------------------ required */
.body-wrap {
  min-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column; }

.body-wrap-header {
  background-color: white;
  position: sticky;
  top: 0; }

.body-wrap-footer {
  margin-top: auto; }

/* */
/* grid for article layout (main+aside+extra) */
/* 2018.12.5 */
.grid-for-markup, .block, .left-wrap-in-grid, .right-wrap-in-grid, .grid-for-article, .grid {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  grid-template-columns:  [full-start merge-start overmain-start main-start aside-start]  auto  [full-end merge-end overmain-end main-end aside-end] ;
  align-items: start;
  grid-gap: 1.6rem 0; }

.grid-for-markup, .block, .left-wrap-in-grid, .right-wrap-in-grid {
  grid-template-columns:  [full-start merge-start overmain-start]  2.4rem  [main-start aside-start]  auto  [main-end aside-end]  2.4rem  [full-end merge-end overmain-end] ; }

@media (max-width: 900px) {
  .grid-for-article, .grid {
    grid-template-columns:  [full-start merge-start overmain-start]  2.4rem  [main-start aside-start]  auto  [main-end aside-end]  2.4rem  [full-end merge-end overmain-end] ; } }
@media (min-width: 901px) {
  .grid-for-article, .grid {
    grid-template-columns:  [full-start]  minmax(0, 1fr)  [merge-start overmain-start]  2.4rem  [main-start]  minmax(0, 64rem)  [main-end]  2.4rem  [overmain-end]  2.4rem  [aside-start]  26rem  [aside-end]  2.4rem  [merge-end]  minmax(0, 1fr)  [full-end] ; } }

.grid-for-markup > * {
  grid-column: main;
  margin-top: 0;
  margin-bottom: 0; }
.grid-for-markup > .layer {
  grid-column: full; }
.grid-for-markup > .block {
  grid-column: overmain; }
.grid-for-markup > .aside {
  grid-column: aside; }
.grid-for-markup > .merge {
  grid-column: merge; }
.grid-for-markup > .illustration {
  grid-column: overmain; }

.grid-for-article > * {
  grid-column: main;
  margin-top: 0;
  margin-bottom: 0; }
.grid-for-article > .layer {
  grid-column: full; }
.grid-for-article > .block {
  grid-column: overmain; }
.grid-for-article > .aside {
  grid-column: aside; }
.grid-for-article > .merge {
  grid-column: merge; }
.grid-for-article > .illustration {
  grid-column: overmain; }

.grid > * {
  grid-column: main;
  margin-top: 0;
  margin-bottom: 0; }
.grid > .layer {
  grid-column: full; }
.grid > .block {
  grid-column: overmain; }
.grid > .aside {
  grid-column: aside; }
.grid > .merge {
  grid-column: merge; }
.grid > .illustration {
  grid-column: overmain; }

.block > * {
  grid-column: main;
  margin-top: 0;
  margin-bottom: 0; }
.block > .layer {
  grid-column: full; }
.block > .block {
  grid-column: overmain; }
.block > .aside {
  grid-column: aside; }
.block > .merge {
  grid-column: merge; }
.block > .illustration {
  grid-column: overmain; }

@media (min-width: 901px) {
  .aside.has-block {
    height: 0;
    overflow: visible;
    margin-left: -2.4rem;
    margin-right: -2.4rem; } }

.left-wrap-in-grid {
  grid-column: full-start / overmain-end; }
  .left-wrap-in-grid > * {
    grid-column: main;
    margin-top: 0;
    margin-bottom: 0; }
  .left-wrap-in-grid > .layer {
    grid-column: full; }
  .left-wrap-in-grid > .block {
    grid-column: overmain; }
  .left-wrap-in-grid > .aside {
    grid-column: aside; }
  .left-wrap-in-grid > .merge {
    grid-column: merge; }
  .left-wrap-in-grid > .illustration {
    grid-column: overmain; }

.right-wrap-in-grid {
  grid-column: overmain-start / full-end; }
  .right-wrap-in-grid > * {
    grid-column: main;
    margin-top: 0;
    margin-bottom: 0; }
  .right-wrap-in-grid > .layer {
    grid-column: full; }
  .right-wrap-in-grid > .block {
    grid-column: overmain; }
  .right-wrap-in-grid > .aside {
    grid-column: aside; }
  .right-wrap-in-grid > .merge {
    grid-column: merge; }
  .right-wrap-in-grid > .illustration {
    grid-column: overmain; }

/**/
.has-two-columns {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2.4rem; }
  .has-two-columns > * {
    grid-column: auto; }

.has-two-columns > .block {
  grid-column: auto; }

/**/
/* eof grid for article */
/* styles for content */
/* 2018.12.5 */
h1, .big-title {
  font-size: 2.5em;
  line-height: 1.2;
  margin: 0; }

h2, .title {
  font-size: 2em;
  line-height: 1.25;
  margin: 0; }

h3, .min-title {
  font-size: 1.5em;
  line-height: 1;
  margin: 0; }

h4 {
  font-size: inherit;
  line-height: inherit;
  margin: 0; }

h5 {
  font-size: inherit;
  line-height: inherit;
  margin: 0; }

h6 {
  font-size: inherit;
  line-height: inherit;
  margin: 0; }

.subtitle {
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.33333;
  margin-top: 0; }

p {
  margin: 0; }

a {
  background-color: transparent;
  color: inherit;
  text-decoration: underline; }

ul {
  padding-left: 0;
  margin-left: 2rem; }

ol {
  padding-left: 0;
  margin-left: 2rem; }

hr {
  display: block;
  min-height: 3.2rem;
  border: 0;
  background: transparent;
  box-shadow: none; }

img {
  display: block;
  border: none;
  max-width: 100%; }

svg {
  display: block;
  border: none;
  max-width: 100%; }

table th {
  text-align: left; }
table td {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-family: sans-serif;
  font-size: 0.8em; }

.is-centered {
  text-align: center;
  justify-content: center; }

.box {
  /* has paddings */
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  /* has illustrated background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.bg, [bg] {
  background-color: rgba(0, 0, 0, 0.1); }

.form-item, .form-textarea, .form-submit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center; }
  .form-item > *, .form-textarea > *, .form-submit > * {
    order: 3; }
  .form-item > label, .form-textarea > label, .form-submit > label {
    order: 1; }
  .form-item > input, .form-textarea > input, .form-submit > input {
    order: 2; }

label {
  display: block; }

input {
  display: block;
  width: 100%;
  padding: 0.25em 1em; }

textarea {
  display: block;
  width: 100%;
  padding: 1em;
  resize: vertical; }

button {
  padding: 0.25em 1em; }

/**/
/* eof styles for content */
/* content markup */
/* 2018.12.5 */
body {
  background-color: #fffff8;
  color: #111111;
  font-family: Vollkorn, et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  /* default font */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5; }

@media screen and (max-width: 1400px) {
  body {
    font-size: 1.5rem; } }
@media screen and (max-width: 1300px) {
  body {
    font-size: 1.4rem; } }
@media screen and (max-width: 900px) {
  body {
    font-size: 1.6rem; } }
@supports (hanging-punctuation: first) {
  .design-template * {
    hanging-punctuation: first; } }
.design-template h1, .design-template h2, .design-template h3, .design-template h4, .design-template h5, .design-template h6 {
  font-family: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }
.design-template h1, .design-template .big-title {
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.2; }
.design-template h2, .design-template .title {
  padding-top: 0.8rem;
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.25; }
.design-template h3, .design-template .min-title {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1; }
.design-template .subtitle {
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.33333;
  margin-top: 0; }
.design-template .text-accent {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5; }
@media screen and (min-width: 901px) {
  .design-template .box {
    /* has visualy equal paddings */
    padding-top: 1.6rem;
    padding-bottom: 1.6rem; } }
.design-template .aside {
  font-size: 0.875em; }
.design-template table td {
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
  letter-spacing: .03em;
  font-size: 0.875em; }

/* split fullscreen into parts header/body/footer */
/* 2018.12.5
```html template

    <section class="fullscreen">
        <header class="fullscreen-header"></header>
        <div    class="fullscreen-body"  ></div>
        <footer class="fullscreen-footer"></footer>
    </section>

```
*/
.fullscreen {
  display: block;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch; }
  .fullscreen.has-fixed-background:before {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .fullscreen .fullscreen-header {
    order: 1;
    flex-grow: 0; }
  .fullscreen .fullscreen-body {
    order: 2;
    flex-grow: 2; }
  .fullscreen .fullscreen-footer {
    order: 3;
    flex-grow: 0; }
  .fullscreen .fullscreen-body,
  .fullscreen .fullscreen-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }

/*  */
/* ==============================================================
 # Sidebars & Friends
============================================================== */
/* 2018.5.12 */
.sidebar {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  overflow: auto;
  transform: translateX(0);
  transition: transform 200ms ease-in;
  background-color: #fffff8; }
  @media screen and (min-width: 44rem) {
    .sidebar {
      max-width: 38rem; } }
  .sidebar.is-active {
    transition-timing-function: ease-out;
    transform: translateX(-100%); }

/**/
/* EOF: Sidebars */
/* grid with cards */
/* 2018.11.27 */
/*

# Use 1/2
Horizontals cards in grid

```css
    div.logo-matrix
        div
        ...
```

# Use 2/2
Fixed rows and side scroll

```css
    div.logo-matrix.has-scroll
        div
        ...
```

*/
.logo-matrix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-gap: 1rem;
  padding: 2.4rem;
  font-size: 1rem;
  line-height: 1.6; }
  .logo-matrix .card {
    width: 100%;
    max-width: 100%; }
  .logo-matrix.has-scroll {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    overflow: auto; }
    .logo-matrix.has-scroll .card {
      width: 80vw;
      max-width: 42em; }
  .logo-matrix .card {
    grid-column: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch; }
  .logo-matrix .card-picture {
    order: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .logo-matrix .card-text {
    order: 1;
    flex-grow: 2;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
  .logo-matrix .card-picture {
    width: 10rem;
    padding: 1rem 1.6rem; }
  .logo-matrix .card-text {
    padding: 1rem 1.6rem; }
  .logo-matrix .card-text {
    transition: background 200ms ease-out;
    background-color: transparent;
    padding-right: 2.4rem;
    clip-path: polygon(0 -1px, calc( 100% - 2.4rem ) -1px, 100% 50%, calc( 100% - 2.4rem ) 100%, 0 100%); }
  .logo-matrix .card:focus .card-text,
  .logo-matrix .card:active .card-text,
  .logo-matrix .card:hover .card-text {
    background-color: rgba(0, 0, 0, 0.1);
    transition-timing-function: ease-in; }
  @media all and (max-width: 40rem) {
    .logo-matrix .card-text > * {
      max-height: 6rem;
      overflow: hidden; } }

/* eof */
/* logo-matrix */
.design-template {
  /* logo-matrix */
  /**/
  /* sgSND integration */
  /**/ }
  .design-template .logo-matrix {
    grid-gap: 1px;
    background-color: #5b7d8f;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.6; }
    .design-template .logo-matrix .card {
      background-color: white;
      color: black; }
    .design-template .logo-matrix .card:hover .card-text {
      background-color: #8cded2;
      color: black; }
    .design-template .logo-matrix .link {
      display: inline-block;
      border-bottom: 1px solid #8cded2;
      padding-right: 0.2em;
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1; }
    .design-template .logo-matrix::-webkit-scrollbar {
      height: 2.4rem; }
    .design-template .logo-matrix::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .design-template .logo-matrix::-webkit-scrollbar-thumb {
      background-color: #8cded2;
      outline: 1px solid #8cded2; }
  .design-template .logo-matrix a {
    text-decoration: none; }
  .design-template .logo-matrix .card {
    border-radius: 0;
    border: 0;
    font-size: 12px;
    line-height: 20px; }
  .design-template .logo-matrix .card-text {
    padding: 10px 24px 10px 16px;
    clip-path: polygon(0 -1px, calc( 100% - 24px ) -1px, 100% 50%, calc( 100% - 24px ) 100%, 0 100%); }
  .design-template .logo-matrix .card-text-content {
    max-height: 72px;
    overflow: hidden; }
  .design-template .logo-matrix .card-picture {
    width: 10em;
    padding: 10px 16px; }
  .design-template .logo-matrix .card {
    position: relative;
    z-index: 0; }
  .design-template .logo-matrix .card-clickable a {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .design-template .logo-matrix .card-clickable a span {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  .design-template .logo-matrix.has-three-rows {
    grid-template-columns: min-content;
    grid-template-rows: 1fr 1fr 1fr; }
  .design-template .logo-matrix .insert-page,
  .design-template .logo-matrix .card {
    height: 100%; }
  .design-template .logo-matrix [link], .design-template .logo-matrix [name] {
    display: inline-block;
    border-bottom: 1px solid #8cded2;
    padding-right: 0.2em;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1; }

/* grid with logos */
/* 2018.11.30 */
.logo-selector {
  display: grid;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-gap: 1px;
  padding: 1px;
  margin: 2.4rem;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f1bcbb; }
  .logo-selector .cProviderLogo {
    background-color: #fff; }
  .logo-selector .card {
    background-color: white;
    border-radius: 0;
    border: 0px solid transparent;
    font-size: 10px;
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch; }
  .logo-selector .card-picture {
    padding: 0.8em 2.4em;
    padding-top: 1.6em;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .logo-selector .card-picture * {
      font-size: 1.6em;
      line-height: 1; }
    .logo-selector .card-picture img {
      max-height: 42px; }
  .logo-selector .card-label {
    padding: 0.8em;
    flex-grow: 0;
    color: #a8dcd9;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .logo-selector .card-label * {
      font-size: 1.2em;
      line-height: 1; }
  .logo-selector .card.is-active {
    z-index: 1;
    transform: scale(1.1);
    outline: 1px solid #f1bcbb;
    box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.15); }
    .logo-selector .card.is-active .card-label {
      background-color: #f1bcbb;
      color: black; }
      .logo-selector .card.is-active .card-label:before {
        content: '';
        display: block;
        width: 0.8em;
        height: 0.8em;
        border: 2px solid white;
        border-radius: 50%;
        margin-right: 0.4em;
        background-color: firebrick; }
  .logo-selector .card {
    transition: none;
    transform-origin: center center; }
  .logo-selector .card:hover {
    z-index: 2;
    transform: scale(1.1);
    transition: transform 200ms ease-out;
    outline: 1px solid #f1bcbb;
    box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.15); }
    .logo-selector .card:hover .card-label {
      color: black; }
  .logo-selector .card {
    position: relative;
    z-index: 0; }
  .logo-selector .card-clickable a {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .logo-selector .card-clickable a span {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
