@charset "UTF-8";
// ordnung: 2018.12.5


// required core


@import "app_core/00-construct";
@import "app_core/01-setup";
@import "app_core/02-reset-html";


// default components


@import "app_components/layout-body-wrap/layout-body-wrap.scss";

@import "app_components/grid-for-article/grid-for-article.scss";

@import "app_components/content-markup/content-markup.scss";
@import "app_components/content-markup/content-typography.scss";
@import "app_components/content-markup/design-template.scss";



// ----------------------------------------------- other components


// screen interface

@import "app_components/layout-fullscreen/layout-fullscreen.scss";

@import "app_components/sidebar/sidebar.scss";


// ----------------------------------------------- pending


//* ------------------------------------ pending

.group {

    /* is grid */
    display: grid;
    grid-template-columns: none;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-gap: $margin-def;

    &>* {
        grid-column: auto;
        height: 100%;
    }
    &>.block {
        grid-column: auto;
    }
    &.block {
        padding-left:  $margin-def;
        padding-right: $margin-def;
    }

    /* has overflow fallback */
    overflow: auto;
}


// grid cases

@import "app_pending/logo-matrix/logo-matrix";
@import "app_pending/logo-matrix/design-template";

//@import "app_pending/logo-selector/logo-selector";


// ----------------------------------------------- custom


@import "app-custom.scss";
